@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
em {font-style: normal; font-weight: bold;}
br.mo {display: none;}
button:hover {cursor: pointer;}
body,h1,h2,h3,h4,h5,h6,li,a,textarea,button,strong,label,input,th  {font-family: 'Noto Sans KR', sans-serif;}

/* LayOut */
.wrap {width: 100%; min-width: 1200px; overflow: hidden; font-family: 'Noto Sans KR', sans-serif; position: relative;}

/* header */
header {background-color: #fff; position: relative; z-index: 1000;}
.innerHeader {width: 1760px; margin: 0 auto; height: 95px;}
.innerHeader .logo {float: left; line-height: 88px;}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}

/* gnb */
.gnb {float: right;z-index: 100;}
.gnb > li {float: left; line-height: 95px; width: 175px; position: relative;}
.gnb > li:nth-child(5) {width: 185px;}
.gnb > li:nth-child(6) {width: 140px;}
.gnb > li > a {display: block; width: 100%; height: 100%; text-align: center; color: #443634; font-size: 19px; font-weight: normal;letter-spacing: -1px; position: relative;}
.gnb > li > a:after {position: absolute; content: ''; width: 0%; height: 3px; background: #404d2d; left: 50%; transform: translateX(-50%); bottom: 0; transition: all 0.2s; opacity: 0;}
.gnb ul.inner {line-height: 0px; overflow: hidden;  width: 100%; background: #fff; opacity: 0; position: absolute; left: 0; top: 95px;}
.gnb ul.inner.on {line-height: 50px; opacity: 1;}
.gnb ul.inner li a {text-align: center; display: block; width: 100%; height: 100%; color: #808080; transition: all 0.3s;}

/* gnb hover */
.gnb > li:hover a:after, .gnb > li a:focus:after {width: 100%; opacity: 1; transition: all 0.3s;}
.gnb > li > a:hover, .gnb > li > a:focus {color: #404d2d;}
.gnb ul.inner li a:hover, .gnb ul.inner li a:focus {background: #404d2d; color: #fff; transition: all 0.3s;}
#layer-mask {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 100;}

/* mainVisual */
section.mainVisual {height: 840px; padding: 80px 0; box-sizing: border-box; background: url(../img/mainVisualBg.png) no-repeat center bottom 0/ cover;}
section.mainVisual h2 {text-align: center;}
section.mainVisual ul.iconBox {margin: 35px auto 0; width: 800px; height: 440px;}
section.mainVisual ul.iconBox li {width: 260px; height: 236px; float: left; margin-right: 10px;}
section.mainVisual ul.iconBox li:nth-child(3) {margin-right: 0;}
section.mainVisual ul.iconBox li:nth-child(4) {margin-left: 134px; margin-top: -33px;}
section.mainVisual ul.iconBox li:nth-child(5) {margin-top: -33px;}
section.mainVisual ul.iconBox li a {display: block; width: 100%; height: 100%; background: url(../img/mainVisual2.png) no-repeat center/ cover; transition: all 0.3s; text-align: center; color: #696948; position: relative; overflow: hidden;}
section.mainVisual ul.iconBox li a:after {content: ''; position: absolute; width: 32px; height: 32px; background: url(../img/mainVisual3.png) no-repeat center/ cover; left: 50%; margin-left: -16px; bottom: -10px; opacity: 0; transition: all 0.3s;}
section.mainVisual ul.iconBox li a h3 {font-size: 25px; letter-spacing: -1px; padding-top: 120px; line-height: 1.5; background-image: url(../img/mainVisual4.png); background-repeat: no-repeat; background-position: center top 48px; transition: transform 0.3s;}
section.mainVisual ul.iconBox li a h3 span {display: block; font-size: 18px; font-weight: 300; color: #404d2d;}
section.mainVisual ul.iconBox li:nth-child(2) a h3 {background-image: url(../img/mainVisual5.png);}
section.mainVisual ul.iconBox li:nth-child(3) a h3 {background-image: url(../img/mainVisual6.png);}
section.mainVisual ul.iconBox li:nth-child(4) a h3 {background-image: url(../img/mainVisual7.png);}
section.mainVisual ul.iconBox li:nth-child(5) a h3 {background-image: url(../img/mainVisual8.png);}
section.mainVisual > a {width: 250px; margin: 30px auto 0; display: block; color: #fff; background: #6b8331; text-align: center; font-size: 24px; letter-spacing: -1px; font-weight: 300; padding: 12px 0; border-radius: 50px;}
section.mainVisual > a:hover {background: #5b6f2b; transition: all 0.2s;}
section.mainVisual > a span {transform: scaleX(0.5); display: inline-block; margin-left: 3px;}

/* mainVisual hover */
section.mainVisual ul.iconBox li a:hover,section.mainVisual ul.iconBox li a:focus {background-image: url(../img/mainVisual1.png); transition: all 0.3s;color: #6b8331;}
section.mainVisual ul.iconBox li a:hover:after,section.mainVisual ul.iconBox li a:focus:after {bottom: 22px; opacity: 1;}
section.mainVisual ul.iconBox li a:hover h3 span,section.mainVisual ul.iconBox li a:focus h3 span {color: #6b8331;}
section.mainVisual ul.iconBox li a:hover h3,section.mainVisual ul.iconBox li a:focus h3 {transform: translateY(-10px); background-image: url(../img/mainVisual4_2.png); transition: transform 0.4s;}
section.mainVisual ul.iconBox li:nth-child(2) a:hover h3,section.mainVisual ul.iconBox li:nth-child(2) a:focus h3 {background-image: url(../img/mainVisual5_2.png);}
section.mainVisual ul.iconBox li:nth-child(3) a:hover h3,section.mainVisual ul.iconBox li:nth-child(3) a:focus h3 {background-image: url(../img/mainVisual6_2.png);}
section.mainVisual ul.iconBox li:nth-child(4) a:hover h3,section.mainVisual ul.iconBox li:nth-child(4) a:focus h3 {background-image: url(../img/mainVisual7_2.png);}
section.mainVisual ul.iconBox li:nth-child(5) a:hover h3,section.mainVisual ul.iconBox li:nth-child(5) a:focus h3 {background-image: url(../img/mainVisual8_2.png);}

/* section.card */
section.card {height: 940px; padding: 140px 0; box-sizing: border-box; background: #f2f2f2 url(../img/cardBg.png) no-repeat center bottom/ cover;}
section.card h2 {text-align: center;}
section.card ul.cardBox {width: 900px; margin: 80px auto 0; height: 420px;}
section.card ul.cardBox li {width: 280px;height: 380px; margin-right: 30px; float: left; background: #fff; box-shadow: 0px 5px 12px rgba(177, 189, 150, 0.7); border-radius: 30px; padding: 40px 30px; box-sizing: border-box; letter-spacing: -1px; position: relative; overflow: hidden;transition: all 0.3s;}
section.card ul.cardBox li:before {content: ''; width: 150%; height: 300px; background: rgb(225, 230, 214); position: absolute; left: -120px; bottom: -270px; transform: rotate(20deg); opacity: 0;transition: all 0.2s;}
section.card ul.cardBox li:after {content: ''; width: 150%; height: 300px; background: rgba(107, 131, 49, 0.65); position: absolute; left: -10px; bottom: -160px; transform: rotate(-35deg);opacity: 0;transition: all 0.2s;}
section.card ul.cardBox li:last-child {margin-right: 0;}
section.card ul.cardBox li p.txt {font-size: 20px; display: inline-block;padding-bottom: 3px; border-bottom: 1px solid transparent;}
section.card ul.cardBox li p.img {margin: 35px auto 40px; text-align: center; position: relative; z-index: 10;}
section.card ul.cardBox li:nth-child(2) p.img {margin-bottom: 30px;}
section.card ul.cardBox li:nth-child(3) p.img {margin-bottom: 20px;}
section.card ul.cardBox li:nth-child(2) h3 span{display: block; font-size: 21px;}
section.card ul.cardBox li h3 {font-size: 65px; color: #6b8331; text-align: center; line-height: 1.3; position: relative; z-index: 10;}
section.card ul.cardBox li h3 span {font-size: 28px;}

/* section.card hover */
section.card ul.cardBox li:hover {cursor: default; transform: translateY(-25px);transition: all 0.3s;}
section.card ul.cardBox li:hover p.txt {color: #6b8331; border-color:  #6b8331;transition: all 0.3s;}
section.card ul.cardBox li:hover h3 {color: #fff;transition: all 0.3s;}
section.card ul.cardBox li:hover:before {transition: all 0.35s; opacity: 1; bottom: -170px;}
section.card ul.cardBox li:hover:after {transition: all 0.25s; opacity: 1;bottom: -70px;}

/* section.greenBox */
section.greenBox {height: 940px; padding: 200px; box-sizing: border-box; background: url(../img/boxBg.png) no-repeat center bottom 0/ cover; letter-spacing: -1px;}
section.greenBox .box {width: 700px; margin: 0 auto;background: rgba(64, 77, 45, 0.6); padding: 60px 80px; text-align: center; border-radius: 50px 0 50px 0; box-shadow: 0px 0px 0px 10px rgba(64, 77, 45, 0.6); border: 1px solid #979c89; color: #fff;}
section.greenBox .box h3 {font-size: 55px; line-height: 1.1;}
section.greenBox .box h3 span {font-size: 30px; font-weight: 300;}
section.greenBox .box h4 {background: #dce3ca; color: #5e6053; font-size: 25px; font-weight: normal; line-height: 1.4; margin: 15px 0 50px; display: inline-block; padding: 0 8px;}
section.greenBox .box h4 span {font-weight: bold;}
section.greenBox .box p {font-size: 22px; line-height: 1.6; background: url(../img/box2.png),url(../img/box3.png); background-repeat: no-repeat,no-repeat; background-position: left top, right top; width: 700px; height: 170px;}
section.greenBox .box p span {color: #f9ffcf;}

/* section.cf */
section.cf {height: 750px; padding-top: 110px; box-sizing: border-box; background: url(../img/cfBg.png) no-repeat center bottom 0/ cover; letter-spacing: -1px;} 
section.cf .inner {width: 1200px; margin: auto; position: relative;}
section.cf h2 {font-size: 38px; color: #493936; margin-bottom: 20px;}
section.cf h2 span {color: #404d2d;}
section.cf .cfBox {width: 600px; height: 338px; box-shadow: 30px 30px 0px 0px #404d2d; background: #404d2d;}
section.cf p.img {position: absolute; right: -100px; top: -15px;}

/* section.form-box */
section.form-box {padding: 100px 0; background: #fff; letter-spacing: -1px;}
section.form-box h2 {text-align: center;}
section.form-box .inner {width: 1200px; padding: 30px 0 10px; margin: 40px auto; border-top: 3px solid #6b8331; border-bottom: 3px solid #6b8331;}
section.form-box .inner table {width: 100%;}
section.form-box .inner table td {padding: 8px 0; width: 20%;}
section.form-box .inner table td.tit {width: 10%; padding-left: 15px; box-sizing: border-box; font-size: 20px; position: relative;}
section.form-box .inner table td.tit.tel {padding-left: 50px;}
section.form-box .inner table td.tit.tel:after {left: 35px;}
section.form-box .inner table td.tit:after {content: '*'; position: absolute; left: 0px; top: 18px; font-weight: bold; color: #6b8331;}
section.form-box .inner ul {border-top: 1px solid #000; margin: 25px 0; overflow: hidden;}
section.form-box .inner ul li {width: 50%; float: left; padding: 40px 20px 0px 0; box-sizing: border-box;}
section.form-box .inner ul li:nth-child(2) {padding: 40px 0px 0px 20px;}
section.form-box .inner ul li h3 {font-size: 17px; font-weight: normal; margin-bottom: 10px;}
section.form-box .inner ul li .contents {border: 1px solid #cecece; height: 130px; overflow: auto; padding: 20px; box-sizing: border-box; line-height: 1.4; letter-spacing: 0; font-size: 14px; color: #333; font-weight: 300;}
section.form-box button {display: block; margin: auto; width: 340px; height: 80px; font-size: 30px; background: #404d2d; color: #fff; letter-spacing: -1px; border: none; border-radius: 40px;}
section.form-box button:hover {background: #5b6f2b; transition: all 0.2s;}
section.form-box button em {color: #edffbd;}
section.form-box button span {font-weight: 300;transform: scaleX(0.5); display: inline-block; margin-left: 3px;}

/* input,select */
section.form-box input[type=text] {background: #fff; border: 1px solid #cecece; width: 100%; height: 42px; padding-left:15px; box-sizing: border-box; font-weight: 300; font-size: 16px; color: #000;}
section.form-box select {background: #fff url(../img/selectbox.png) no-repeat right 12px top 50%; border: 1px solid #cecece; width: 100%; height: 42px; padding-left:15px; box-sizing: border-box; color: #000; font-weight: 300; font-size: 16px;-webkit-appearance: none;-moz-appearance: none;appearance: none;line-height: 1.6; vertical-align: top;}

/* checkbox */
.checks {position: relative; float: right; margin-top: 14px;} 
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 } 
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-right: 35px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size: 19px;vertical-align: middle; color: #555;} 
.checks input[type="checkbox"] + label:before {content: ''; position: absolute; right: 0; top: 1px; width: 24px; height: 24px; line-height: 23px;  text-align: center; background: #fff; border: 1px solid #cecece; border-radius: 3px;} 
.checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
.checks input[type="checkbox"]:checked + label:before {font-size: 20px; font-weight: bold; content: '\2714';  color: #6b8331; background: #fff; border-color: #cecece;}

/* footer */
footer {text-align: center;}
footer .num {margin-bottom: 30px;}
footer .footerBox {background: #2d2d2b; color: #888; padding: 50px 0; font-size: 15px;}
footer .footerBox ul {width: 450px; margin: 0 auto 20px; border: 1px solid #999; overflow: hidden;}
footer .footerBox ul li {width: 33.3333%; height: 35px; line-height: 35px; float: left; border-right: 1px solid #999; box-sizing: border-box;}
footer .footerBox ul li:last-child {border-right: none;}
footer .footerBox ul li a {display: block; width: 100%; height: 100%; color: #fff;}
footer .footerBox p {line-height: 1.8;}
footer .footerBox p.color {color: #eee;line-height: 2.5;}
footer .footerBox p.color em {color: #222; background: #eee; padding: 2px 6px; border-radius: 5px; margin-right: 10px; font-weight: normal;}

/* quick */
.quick{display:none;position:fixed;top:130px;right:0;z-index:30;width:180px; ;background:#dce3ca;border:none; border-radius: 8px 8px 0 0;z-index:9999;border:1px solid #6b8331;}
.quick .topBox {padding: 10px; background:#6b8331; border-radius: 7px 7px 0 0;}
.quick input{width:100%;height:38px;line-height:38px;font-size:14px;color:#6b6a6a;border:0;border-radius: 3px;background:#fff; padding-left:10px; box-sizing: border-box}
.quick .input{width:100%; background:#dce3ca;text-align:center; padding:10px 0 5px; }
.quick .input_4, .quick .input_5, .quick .input_6{width:90%;margin:0 auto 5px;}
.quick .input_6 select {background: #fff url(../img/selectbox.png) no-repeat right 12px top 50%; border: none; width: 100%; height: 35px; padding-left:12px; box-sizing: border-box; color: #666; font-size: 13px; -webkit-appearance: none; -moz-appearance: none; appearance: none; line-height: 1.2; vertical-align: top;font-weight: bold;border-radius: 3px;}
.quick .btn{display:block;width:90%;margin:0 auto 10px;}
.quick .btn_home{display:block;}
select::-ms-expand {display: none;}
.quick .agree{position:absolute;top:254px;left:-222px;width:220px;height:362px;border:1px solid #bcbcbc;background:#fff;z-index:9999}
.quick .agree label{display:block;height:30px}
.quick .agree .top{position:relative;width:100%;height:38px;background:#f1f1f1}
.quick .agree .top label{display:block;padding:5px 0 0 7px}
.quick .agree .top .btn_close{position:absolute;top:-3px;right:0;display:block;width:35px;height:35px}
.quick .agree .top .btn_close>img{margin:15px}
.quick .agree label>span{display:block;float:left;line-height:22px;padding:0 0 0 7px;font-size:15px;font-weight:bold;color:#000}
.quick .agree input{float:left;width:20px;height:20px;border:1px solid #686868;border:0;}
.quick .agree .btm label{margin:15px 0 0 7px}
.quick .agree .btm label>span{display:block;float:left;line-height:20px;padding:0 0 0 5px;font-size:12px;font-weight:normal;color:#686868}
.quick .agree .btm label:first-child {width:200px;margin:5px 0 0 7px}
.quick .agree .bx{width:200px;height:110px;border:1px solid #ddd;margin:0 auto;overflow-y: auto;overflow-x: hidden;font-size:12px; padding:5px;}

/* 헤더 반응형 */
@media screen and (max-width:1900px) {
	.innerHeader {width: 100%; min-width: 1200px; padding: 0 40px; box-sizing: border-box;}
	.gnb > li {width: 135px;}
	.gnb > li:nth-child(5) {width: 145px;}
	.innerHeader .logo {width: 250px;}
	.innerHeader .logo img {width: 100%;}
	.gnb ul.inner li a {font-size: 15px;}
	.gnb > li:nth-child(5) ul.inner li a {font-size: 14px;}
}