@charset "utf-8";

/* reset */
* {margin: 0;padding: 0;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6 {font-weight: 700; font-size: inherit;}
a {color: inherit; text-decoration: inherit;}
img {vertical-align: middle;}
a img {border: none;}
li {list-style: none;}
em {font-style: normal; font-weight: bold;}
br.mo {display: none;}
button:hover {cursor: pointer;}
body,h1,h2,h3,h4,h5,h6,li,a,textarea,button,strong,label,input,th  {font-family: 'Noto Sans KR', sans-serif;}

/* LayOut */
.wrap {width: 100%; min-width: 1200px; overflow: hidden; font-family: 'Noto Sans KR', sans-serif; position: relative;}

/* header */
header {background-color: #fff; position: relative; z-index: 1000;}
.innerHeader {width: 1760px; margin: 0 auto; height: 95px;}
.innerHeader .logo {float: left; line-height: 88px;}
.innerHeader .logo a {display: block; width: 100%; height: 100%;}

/* gnb */
.gnb {float: right;z-index: 100;}
.gnb > li {float: left; line-height: 95px; width: 175px; position: relative;}
.gnb > li:nth-child(5) {width: 185px;}
.gnb > li:nth-child(6) {width: 140px;}
.gnb > li > a {display: block; width: 100%; height: 100%; text-align: center; color: #443634; font-size: 19px; font-weight: normal;letter-spacing: -1px; position: relative;}
.gnb > li > a:after {position: absolute; content: ''; width: 0%; height: 3px; background: #404d2d; left: 50%; transform: translateX(-50%); bottom: 0; transition: all 0.2s; opacity: 0;}
.gnb ul.inner {line-height: 0px; overflow: hidden;  width: 100%; background: #fff; opacity: 0; position: absolute; left: 0; top: 95px;}
.gnb ul.inner.on {line-height: 50px; opacity: 1;}
.gnb ul.inner li a {text-align: center; display: block; width: 100%; height: 100%; color: #808080; transition: all 0.3s;}

/* gnb hover */
.gnb > li:hover a:after, .gnb > li a:focus:after {width: 100%; opacity: 1; transition: all 0.3s;}
.gnb > li > a:hover, .gnb > li > a:focus {color: #404d2d;}
.gnb ul.inner li a:hover, .gnb ul.inner li a:focus {background: #404d2d; color: #fff; transition: all 0.3s;}
#layer-mask {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.6); z-index: 100;}

/* footer */
footer {text-align: center; margin-top: 20px;}
footer .num {margin-bottom: 30px;}
footer .footerBox {background: #2d2d2b; color: #888; padding: 50px 0; font-size: 15px;}
footer .footerBox ul {width: 450px; margin: 0 auto 20px; border: 1px solid #999; overflow: hidden;}
footer .footerBox ul li {width: 33.3333%; height: 35px; line-height: 35px; float: left; border-right: 1px solid #999; box-sizing: border-box;}
footer .footerBox ul li:last-child {border-right: none;}
footer .footerBox ul li a {display: block; width: 100%; height: 100%; color: #fff;}
footer .footerBox p {line-height: 1.8;}
footer .footerBox p.color {color: #eee;line-height: 2.5;}
footer .footerBox p.color em {color: #222; background: #eee; padding: 2px 6px; border-radius: 5px; margin-right: 10px; font-weight: normal;}


/* quick sideBar */
.quick{display:none;position:fixed;top:130px;right:0;z-index:30;width:180px; ;background:#dce3ca;border:none; border-radius: 8px 8px 0 0;z-index:9999;border:1px solid #6b8331;}
.quick .topBox {padding: 10px; background:#6b8331; border-radius: 7px 7px 0 0;}
.quick input{width:100%;height:38px;line-height:38px;font-size:14px;color:#6b6a6a;border:0;border-radius: 3px;background:#fff; padding-left:10px; box-sizing: border-box}
.quick .input{width:100%; background:#dce3ca;text-align:center; padding:10px 0 5px; }
.quick .input_4, .quick .input_5, .quick .input_6{width:90%;margin:0 auto 5px;}
.quick .input_6 select {background: #fff url(../img/selectbox.png) no-repeat right 12px top 50%; border: none; width: 100%; height: 35px; padding-left:12px; box-sizing: border-box; color: #666; font-size: 13px; -webkit-appearance: none; -moz-appearance: none; appearance: none; line-height: 1.2; vertical-align: top;font-weight: bold;border-radius: 3px;}
.quick .btn{display:block;width:90%;margin:0 auto 10px;}
.quick .btn_home{display:block;}
select::-ms-expand {display: none;}
.quick .agree{position:absolute;top:254px;left:-222px;width:220px;height:362px;border:1px solid #bcbcbc;background:#fff;z-index:9999}
.quick .agree label{display:block;height:30px}
.quick .agree .top{position:relative;width:100%;height:38px;background:#f1f1f1}
.quick .agree .top label{display:block;padding:5px 0 0 7px}
.quick .agree .top .btn_close{position:absolute;top:-3px;right:0;display:block;width:35px;height:35px}
.quick .agree .top .btn_close>img{margin:15px}
.quick .agree label>span{display:block;float:left;line-height:22px;padding:0 0 0 7px;font-size:15px;font-weight:bold;color:#000}
.quick .agree input{float:left;width:20px;height:20px;border:1px solid #686868;*border:0;}
.quick .agree .btm label{margin:15px 0 0 7px}
.quick .agree .btm label>span{display:block;float:left;line-height:20px;padding:0 0 0 5px;font-size:12px;font-weight:normal;color:#686868}
.quick .agree .btm label:first-child{width:200px;margin:5px 0 0 7px}
.quick .agree .bx{width:200px;height:110px;border:1px solid #ddd;margin:0 auto;overflow-y: auto;overflow-x: hidden;font-size:12px; padding:5px;}

/* 서브페이지 공통 */
section.subVisual {text-align: center; width: 100%;  position: relative; overflow: hidden;}
section.subVisual img {width: 100%; height: 100%;}
section.subVisual h2 {position: absolute; width: 100%; top: 33%;  color: #fff; font-size: 50px; font-weight: 300; letter-spacing: -1px;}
section.location {background: #f7f7f7; height: 50px; line-height: 50px;  font-size: 15px; font-weight: 300; border-bottom: 1px solid #d9d9d9;}
section.location ul {width: 1000px; margin: auto; text-align: right; }
section.location ul li {display: inline-block; margin-left: 15px; position: relative;}
section.location ul li:before {content: '>'; position: absolute; left: -13px; transform: scaleX(0.6);}
section.location ul li:nth-child(1):before {display: none;}
section.location ul li:first-child {transform: translateY(-2px)}
section >.inner {width: 1000px; margin: auto;position: relative;}

/* why */
section.why_1 {text-align: center;}
section.why_1 img {width: 100%; max-width: 1920px;}
section.why_1 h2 {font-size: 45px; letter-spacing: -1px; width: 1000px; border-bottom: 2px solid #000; margin: 50px auto 0; padding-bottom: 30px;}
section.why_1 h2 em {color: #567215}
section.why_2 { background: #f7f7f7; padding: 80px 0; text-align: center; letter-spacing: -1px;}
section.why_2 .inner h2 {font-size: 35px; color: #493936; padding: 0 5px 15px 2px; border-bottom: 2px solid #493936; display: inline-block; margin-bottom: 30px;}
section.why_2 .inner h3 {font-size: 25px; font-weight: normal; margin: -10px 0 30px}
section.why_2 .inner h3 em {color: #493936;}
section.why_2 .inner .box {background: #dce3ca; width: 650px; margin: 30px auto 80px; color: #493936; font-size: 22px; padding: 20px 0; border-radius: 90px;}
section.why_2 .inner .box span {font-weight: bold;}
section.why_2 .inner .box em {font-weight: bold; color: #404d2d; font-size: 25px;}
section.why_2 .inner p {color: #808080; font-weight: 300; margin: 20px 0; font-size: 15px;}
section.why_2 .inner p span {margin-left: 180px;}
section.why_3 {padding: 80px 0; text-align: center;}
section.why_3 .inner h2 {font-size: 35px; color: #493936; padding: 0 5px 15px 2px; border-bottom: 2px solid #493936; display: inline-block; margin-bottom: 30px;}
section.why_3 .inner li:first-child {margin-bottom: 80px;}

/* membership */
section.membership {padding: 50px 0; letter-spacing: -1px;}
aside.snb {width: 230px;border-top: 1px solid #d9d9d9; position: absolute; left: -280px;}
aside.snb ul li {line-height: 3; padding-left: 20px; border-bottom: 1px solid #d9d9d9;border-left: 1px solid #d9d9d9;border-right: 1px solid #d9d9d9;}
aside.snb ul li:first-child {line-height: 3.5; font-size: 22px; color: #fff; background: #493936; border-color: #493936;}
aside.snb ul li a {display: block; width: 100%; height: 100%; font-size: 19px; color: #808080;}
aside.snb ul li a.on {color: #493936;} 
aside.snb ul li a.on:after {content: '>'; position: absolute; right: 15px; transform: scaleX(0.7);}
section.membership ul.list {margin: 60px 0 20px; overflow: hidden;}
section.membership ul.list li {width: 50%; float: left; margin-bottom: 30px; line-height: 1.4;}
section.membership ul.list li .img {float: left; margin-right: 25px;}
section.membership ul.list li h3 {font-size: 22px; margin: 8px 0 18px;}
section.membership ul.list li h3 em {color: #9d1f04}
section.membership ul.list li p {font-size: 15px; color: #808080; font-weight: 300;}
section.membership .red {color: #9d1f04;}

/* shopping */
section.shopping {padding: 50px 0; letter-spacing: -1px;}
section.shopping h3{font-size: 35px; color: #493936; padding-bottom: 15px; border-bottom: 2px solid #493936; width: 60%; margin: 50px auto 15px;}
section.shopping h4 {font-size: 25px; text-align: center; font-weight: normal;}
section.shopping h4 em {font-weight: bold; color: #9d1f04}
section.shopping ul.list {margin: 50px auto 40px; overflow: hidden;}
section.shopping ul.list li {width: 50%; float: left;}
section.shopping ul.list li table {float: right; width: 480px; border-bottom: 1px solid #6b8331; text-align: center; font-size: 20px; font-weight: bold; margin-bottom: 25px;}
section.shopping ul.list li table td {line-height: 2.5;}
section.shopping ul.list li table td.a {border-bottom: 1px solid #6b8331; border-right: 1px solid #6b8331; color: #6b8331}
section.shopping ul.list li table td.b {border-bottom: 1px solid #6b8331; background: #fffde7;}
section.shopping ul.list li span {display: block; clear: both; color: #6b8331; text-align: center; font-size: 18px;}
section.shopping .red {color: #9d1f04;}

/* life - 상조서비스 */
section.life {padding: 50px 0; letter-spacing: -1px;}
section.life div.table table {width: 100%; margin-top: 30px; color: #333;}
section.life div.table table td {padding: 11px 0; line-height: 1.6; border-bottom:1px solid #6b8331;  border-right:1px solid #6b8331; font-size: 18px; padding-left: 20px; box-sizing: border-box;}
section.life div.table table td:last-child {border-right: none; font-weight: 300;}
section.life div.table table td.th {width: 160px; text-align: center; color: #6b8331; font-weight: bold; padding-left: 0; line-height: 1.4;}
section.life div.table table td.bg {background: #f3f5ef; color: #59432b;}
section.life div.text { margin: 30px 0 0; font-weight: 300; color: #493936; line-height: 1.6; font-size: 17px;}
section.life div.text .red {margin-top: 40px; font-weight: normal;}
section.life div.text .red em {color: #9d1f04;}

/* cruise */
section.cruise div.table table td.th  {background: #f3f5ef; font-size: 18px;}
section.cruise div.table table td {font-size: 15px; color: #404d2d; border-color: #8ea162; padding: 15px 0; padding-left: 20px;}
section.cruise div.table table td.bg {background: #fff; color: #6b8331; font-weight: bold; text-align: center; padding-left: 0;}
section.cruise div.table table td:last-child {border-right: none; font-weight: normal;}

/* wedding */
section.wedding div.table table td.th {width: 160px;}
section.wedding div.table table td.bg {color: #404d2d;}

/* festival */
section.festival div.table {text-align: center;}
section.festival div.table h3 {font-size: 35px; color: #493936; padding:0 5px 10px; border-bottom: 2px solid #493936; display: inline-block; margin: 50px 0 0;}
section.festival div.table table {border-bottom: 1px solid #6b8331; text-align: left;}
section.festival div.table table td {color: #404d2d}
section.festival div.table table td.bg {color: #6b8331; padding-left: 0; text-align: center;}
section.festival div.table table td.fw {font-weight: 300;}

/* 상품페이지 */
section.product {padding: 50px 0; letter-spacing: -1px;}

/* 상품페이지 사이드바 공통 */
aside.pd_snb {width: 230px;border-top: 1px solid #d9d9d9; position: absolute; left: -280px; background: #fff;}
aside.pd_snb .top {background: #493936; text-align: center; height: 80px; line-height: 80px;}
aside.pd_snb .bottom {background: #f7f7f7; text-align: center; height: 160px; line-height: 153px;border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;border-left: 1px solid #d9d9d9;}
aside.pd_snb > ul > li {line-height: 3; border-bottom: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;border-left: 1px solid #d9d9d9;}
aside.pd_snb > ul > li h3 {font-size: 18px; font-weight: normal; color: #493936;border-bottom: 1px solid #d9d9d9;  padding-left: 20px; box-sizing: border-box; line-height: 3.1;}
aside.pd_snb > ul > li h3 em {font-size: 15px;color: #7d4c43;}
aside.pd_snb ul.in li a{ box-sizing: border-box;display: block; width: 100%; font-weight: 300; font-size: 17px; padding-left: 20px; position: relative; color: #666;}
aside.pd_snb ul.in li a:before {content: '●'; position: absolute; color: #7d4c43; font-size: 10px; transform: scale(0.5); top: 11px; left: 18px; opacity: 0;}
aside.pd_snb ul.in li a.on {background: #f7f7f7; transition: all 0.1s; padding-left: 33px; font-weight: normal;}
aside.pd_snb ul.in li a:hover,aside.pd_snb ul.in li a:focus {background: #f7f7f7;}
aside.pd_snb ul.in li a.on:before {opacity: 1;}

/* 상품페이지 탑 부분 */
section.product .topLogo {padding-bottom: 15px; overflow: hidden; border-bottom: 2px solid #000; margin-bottom: 40px;}
section.product .topLogo h2{float: left;}
section.product .topLogo h3{float: right; font-size: 35px; color: #404d2d}
section.product .topLogo h3 span{color: #567215; margin-left: 4px;}
section.product .hanaroTop ul {overflow: hidden; margin-bottom: 50px;}
section.product .hanaroTop ul li {float: left; width: 50%;}
section.product .hanaroTop ul li table {width: 100%;}
section.product .hanaroTop ul li table td.th  {background: #f5f5f5; font-size: 20px; font-weight: bold;padding: 15px 20px;}
section.product .hanaroTop ul li table td.th:nth-child(2) {font-size: 30px; text-align: right;}
section.product .hanaroTop ul li table td {padding: 38px 20px; box-sizing: border-box; font-size: 18px;}
section.product .hanaroTop ul li table td.green {border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: center; font-size: 15px; line-height: 1.6; color: #808080;}
section.product .hanaroTop ul li table td.green em {font-size: 20px; color: #6b8331; font-weight: normal;}

/* 상품리스트 */
section.product .hanaro {text-align: center;}
section.product .hanaro .title {font-size: 35px; color: #493936; text-align: center; display: inline-block; padding-bottom: 8px; border-bottom: 2px solid #493936}
section.product .hanaro .title span {display: block; font-size: 50px; font-weight: bold;}
section.product .hanaro .box.a {background: #f8f5e6; padding: 50px 0; margin-bottom: 50px;}
section.product .hanaro .box.a img {margin-top: 40px;}
section.product .hanaro .title2{font-size: 24px; color: #73787b; margin-top: 10px;}
section.product .hanaro .title2 span {font-weight: bold;}
section.product .hanaro .label {margin: 50px 0 40px; display: inline-block; font-weight: bold; color: #fff; background: #a69491; font-size: 25px; padding: 6px 0; width: 300px; border-radius: 100px;}
section.product .hanaro .pd_list {overflow: hidden;}
section.product .hanaro .pd_list li {float: left; width: 25%; text-align: center;}
section.product .hanaro .pd_list li .name { font-size: 20px; font-weight: bold; margin: 25px auto 15px;}
section.product .hanaro .pd_list li .name span {font-size: 15px; font-weight: normal; color: #808080; display: block;margin-top: 3px;}
section.product .hanaro .pd_list li a {display: inline-block; color: #fff; background: #ccc; width: 100px; padding: 7px 0; border-radius: 3px; font-size: 15px; margin-bottom: 30px; transition: all 0.1s;}
section.product .hanaro .pd_list li a:hover,section.product .hanaro .pd_list li a:focus {background: #acacac; transition: all 0.1s;}
section.product .hanaro .text {text-align: left; font-size: 18px;font-weight: 300;margin-top: 25px; padding-top: 50px; border-top: 2px solid #000; line-height: 1.6;}
section.product .hanaro .text span {color: #9d1f04;}
section.product .hanaro .text span em {font-weight: normal;}
section.product .hanaro .text .fw {font-weight: normal; color: #493936; margin-top: 60px;}
section.product .hanaro .text .fw em {margin-bottom: 8px; display: inline-block;}

/* 제휴카드 */
/*하나카드*/
section.card {padding: 50px 0; letter-spacing: -1px;}
section.card .tit {position:relative;}
section.card .tit a {position: absolute; bottom: 40px; right: 210px;}
section.card h2 {color: #493936; font-size: 35px; display: inline-block; padding-bottom: 5px; border-bottom: 2px solid #493936;}
section.card .tableBox {margin-top: 40px; text-align: center;}
section.card .tableBox table {width: 100%; margin-top: 30px; font-size: 20px; line-height: 1.4;}
section.card .tableBox table td.th {font-size: 20px; background: #4cbaae; color: #fff; line-height: 2.5; border-radius: 50px; padding: 0; border-bottom: none;}
section.card .tableBox table td {padding: 17px 0; border-bottom: 1px solid #4cbaae;}
section.card .tableBox table td.text {text-align: left; color: #222;}
section.card .tableBox table td.text span {color: #4cbaae; font-weight: bold; font-size: 25px;}
section.card .tableBox table.b  {font-size: 18px; margin-top: 25px;}
section.card .tableBox table.b td.th {background: #509b93}
section.card .tableBox table.b td {border-color: #509b93}
section.card .tableBox table.b td.text {color: #808080;}
section.card .tableBox table.b td.text span {color: #509b93;}
section.card .tableBox p {text-align: left;color: #808080;  margin: 30px 0 60px; font-size: 18px;}
section.card .tableBox ul {margin-top: 30px;}
section.card .tableBox ul li {font-size: 20px; padding: 25px 0; color: #222;}
section.card .tableBox ul li.bg {background: #93bcb9; border-radius: 4px; padding: 8px; color: #fff;}
section.card .tableBox ul li.bg.b {background: #93acbc}
section.card .tableBox ul li:last-child {padding: 10px 0;}
section.card .tableBox ul li span {font-weight: bold; color: #93bcb9; font-size: 25px;}
/*롯데카드*/
section.card.l .tableBox table {margin-bottom: 50px;}
section.card.l .tableBox table td {border-color: #8a6960; color: #333; padding: 25px 0; box-sizing: border-box;}
section.card.l .tableBox table td.th {border-radius: 0; background: #cc9586; color: #fff; padding: 0;}
section.card.l .tableBox table td.th:nth-child(1) {border-radius: 4px 0 0 4px}
section.card.l .tableBox table td.th:last-child {border-radius: 0 4px 4px 0}
section.card.l .tableBox table td.bg {border-left: 1px solid #8a6960; background: #fff7f5; color: #ab5050;}
section.card.l .tableBox table .text {font-size: 15px; color: #808080; padding-left: 40px; font-weight: 300;}
section.card.l .tableBox table .text h3 {color: #333; font-size: 17px; font-weight: normal;margin-bottom: 10px;}
section.card.l .tableBox table.b .bg{border-right: 1px solid #8a6960;}
section.card.l .tableBox table.b td.th {padding: 0;}
section.card.l .tableBox table.b td {padding: 12px 0;}
section.card.l .tableBox table.b td.text {font-weight: normal; padding-left: 20px; line-height: 1.5;}
section.card.l .tableBox table span {color: #ab5050; font-weight: bold;}
section.card.l .tableBox table.c td  {padding: 15px 0;}
section.card.l .tableBox table.c td.text {text-align: center; font-size: 18px;  background: #fff7f5; color: #ab5050}
section.card.l .tableBox table.c td.bg {color: #333; background: #fff;}
section.card.l .tableBox > a {width: 260px; margin: 30px auto 0; display: block; color: #fff; background: #a92f37; text-align: center; font-size: 28px; letter-spacing: -1px; font-weight: normal; padding: 14px 0; border-radius: 50px;}
section.card.l .tableBox > a:hover {background: #8e2229; transition: all 0.2s;}
section.card.l .tableBox > a span {transform: scaleX(0.4); display: inline-block; margin-left: 3px; font-size: 300;}


/* 공지사항 */
section.notice {padding: 50px 0; letter-spacing: -1px;}
section.notice h2 {font-size: 40px; color: #1a1a1a; float: left;}
section.notice .form-box {float: right;margin: 20px 0 30px;}
section.notice .form-box input[type=text] {background: #fff; border: 1px solid #ddd; width: 180px; height: 30px; padding-left:10px; box-sizing: border-box; font-weight: 300; font-size: 15px;background: #fff url(../img/search.png) no-repeat right 12px top 50%;}
section.notice .form-box select {background: #fff url(../img/selectbox.png) no-repeat right 12px top 50%; border: 1px solid #ddd;  width: 120px; height: 30px; padding-left:10px; box-sizing: border-box; color: #888; font-weight: 300; font-size: 15px;-webkit-appearance: none;-moz-appearance: none;appearance: none;line-height: 2;}
section.notice .form-box select::-ms-expand {display: none;}
section.notice table {clear: both; width: 100%; border-top: 2px solid #333;border-bottom: 2px solid #333; text-align: center;}
section.notice table td {padding: 15px 0; border-bottom: 1px solid #ddd; color: #333;font-size: 14px;}
section.notice table td.th {background: #f5f7f9; font-size: 16px}
section.notice table td.text {text-align: left; padding: 15px 10px; box-sizing: border-box; font-size: 16px;}
section.notice table td > a {display:block;}
section.notice table tr:hover {background: #f5f7f9; cursor: pointer}
section.notice table td .new {color: #6b8331; font-size: 14px; border: 1px solid #6b8331; padding: 2px 9px 3px 8px; border-radius: 20px;}
/* 페이징 */
.paginate{width:100%;margin:20px 0;*margin:0 0 29px;color:#666;font-size:14px;line-height:14px;text-align:center;vertical-align:top; letter-spacing: 0;}
.paginate .link_page{display:inline-block;min-width:14px;border:1px solid #ddd;color:#bbb;font-weight:600;padding:8px 9px 9px 8px;*padding:7px 9px 8px 8px;margin-right:1px;text-decoration:none;}
.paginate .link_page:hover,
.paginate .link_page:focus,
.paginate span.link_page{color:#333;font-weight:bold;border:1px solid #6b8331;}
.paginate .btn_prev{display:inline-block;border:1px solid #ddd;color:#bbb;padding:8px 11px 9px 11px;padding:7px 11px 8px 11px;margin-right:1px;text-decoration:none}
.paginate .btn_prev:hover{color:#333;border:1px solid #6b8331;}
.paginate .btn_prev:focus{color:#333;border:1px solid #6b8331;}
.paginate .btn_next{display:inline-block;border:1px solid #ddd;color:#bbb;padding:8px 11px 9px 11px;padding:7px 11px 8px 11px;margin-right:1px;text-decoration:none}
.paginate .btn_next:hover{color:#333;border:1px solid #6b8331;}
.paginate .btn_next:focus{color:#333;border:1px solid #6b8331;}
.paginate .btn_first{display:inline-block;border:1px solid #ddd;color:#bbb;padding:8px 10px 9px 8px;padding:7px 11px 8px 11px;margin-right:1px;text-decoration:none;letter-spacing:-3px;}
.paginate .btn_first:hover{color:#333;border:1px solid #6b8331;}
.paginate .btn_first:focus{color:#333;border:1px solid #6b8331;}
.paginate .btn_end{display:inline-block;border:1px solid #ddd;color:#bbb;padding:8px 9px 10px 8px;padding:7px 11px 8px 11px;margin-right:1px;text-decoration:none;letter-spacing:-3px;}
.paginate .btn_end:hover{color:#333;border:1px solid #6b8331;}
.paginate .btn_end:focus{color:#333;border:1px solid #6b8331;}
.hidden{position:absolute;top:0;left:-9999% !important;width:1px;height:1px;padding:0;margin:0;font-size:0;line-height:0;overflow:hidden;}

/* 공지사항 상세보기 */
section.noticeView {padding: 50px 0; letter-spacing: -1px;}
section.noticeView h2 {font-size: 40px; color: #1a1a1a; float: left; margin-bottom: 20px;}
.board_view{width:100%;}
.board_view table{width:100%;border-top:2px solid #222;}
.board_view tr{border-bottom:1px solid #ddd;}
.board_view th{height:90px;padding:0 50px;display:table-cell;background:#f5f7f9;font-size:20px;color:#000;text-align:left;vertical-align:middle;line-height:1.3}
.board_view th .bdate{font-size:14px;color:#888;margin-top:5px;}
.board_view td{padding:50px 60px;font-size:15px;line-height:1.6;}
.board_view td img {width: 100%;}
.board_view_list{width:100%;overflow:hidden;}
.board_view_list table{width:100%;font-size:15px;border-top:2px solid #222;}
.board_view_list th{height:45px;display:table-cell;background:#f5f7f9;font-size:15px;color:#222;text-align:center;vertical-align:middle;line-height:1.3;border-bottom:1px solid #ccc;}
.board_view_list td{height:45px;display:table-cell;padding:0 20px;font-size:15px;color:#222;vertical-align:middle;line-height:1.3;border-bottom:1px solid #ccc;}
.btns{width:100%;margin-top:20px;}
.btn_list{display:block;font-size:17px;background:#6b8331;color:#fff;padding:12px 25px; margin: 50px auto 30px; width: 70px; text-align: center; font-weight: normal}
.btn_cancel{display:inline-block;font-size:16px;background:#222;color:#fff;padding:15px 35px;}
.btn_apply{display:inline-block;font-size:16px;background:#f0850c;color:#fff;padding:15px 25px;}


/* 멤버십 398 */
section.product.mem .hanaroTop ul li table td {padding: 27px 20px; font-size: 17px; border-bottom: 1px solid #eee;}
section.product.mem .hanaroTop ul li table td.green {border-top: none;}
section.product.mem .hanaro .boxList li > img {margin: 30px auto; display: block;}
section.product.mem .hanaro .boxList li > h2 {margin-top: 60px;}
section.product.mem .hanaro .bottomP {color: #493936; text-align: left; font-size: 18px; font-weight: 300;}
section.product.mem .hanaro .bottomP span {font-size: 15px; display: block; margin-left: 20px; margin-top: 5px;}
section.product.mem .hanaro .bottomP a {color: #336caf; text-decoration: underline;}
section.product.mem .hanaro .boxList li.hana {position: relative;}
section.product.mem .hanaro .boxList li.hana a {position: absolute; top: 490px; left: 540px}
section.product.mem .hanaro .box.b {margin-top: 60px;}
section.product.mem .hanaro .box.b .pd_list {margin-top: 40px;}
section.product.mem .hanaro .box.b .pd_list a {border-radius: 50px;}
section.product.mem .hanaro .text {border-top: none; padding-top: 10px;}
section.product.mem .hanaro .text img {margin: 0px 0 40px; width: 100%;}

/* FAQ */
section.faq {padding: 50px 0; letter-spacing: -1px;}
section.faq h2 {font-size: 40px; color: #1a1a1a; float: left; margin-bottom: 50px;}
section.faq .btnBox {float: right; margin-top: 10px;}
section.faq .btnBox button {background: #fff; border: 1px solid #6b8331; font-size: 15px; padding: 7px 0; width: 140px; color: #6b8331;}
section.faq .btnBox button:first-child {background:#6b8331; color: #fff;}
section.faq ul.tab  {clear: both; width: 100%; overflow: hidden; margin-bottom: 30px;}
section.faq ul.tab li {width: 14.2857142%; float: left; height: 20px; line-height: 20px;border-right: 1px solid #000;box-sizing: border-box;}
section.faq ul.tab li:nth-child(2) {width: 16.2857142%;}
section.faq ul.tab li:nth-child(1) {width: 12.2857142%;}
section.faq ul.tab li:last-child {border-right: none;}
section.faq ul.tab li a {background: #fff;width: 100%; text-align: center; font-size: 17px; display: block; height: 100%; color: #555;}
section.faq ul.tab li a:hover,section.faq ul.tab li a:focus,section.faq ul.tab li a.on {font-weight: bold; color: #000;}
section.faq ul.tabList {border-top: 3px solid #000;background: #fff; display: none;}
section.faq ul.tabList.on {display: block;}
section.faq ul.tabList > li {line-height: 3.5; font-size: 18px; border-bottom: 1px solid #ccc;}
section.faq ul.tabList > li a {display: block; position: relative; padding-left: 85px; box-sizing: border-box; color: #222;}
section.faq ul.tabList > li a:before {content: 'Q'; position: absolute; left: 35px; background: #999; height: 34px; line-height: 32px; top: 50%; transform: translateY(-50%); width: 34px; border-radius: 50%; padding-left: 11px; box-sizing: border-box; color: #fff; font-size: 16px; font-weight: 300;}
section.faq ul.tabList > li .tabListInner {position: relative;border-top: 1px solid #ccc; display: none; background: #f1f1f1; line-height: 1.6; padding: 25px 0; padding-left: 85px; box-sizing: border-box; font-size: 17px; color: #222;}
section.faq ul.tabList > li .tabListInner:before {content: 'A'; position: absolute; left: 35px; background: #6b8331; height: 34px; line-height: 32px; top: 50%; transform: translateY(-50%); width: 34px; border-radius: 50%; padding-left: 12px; box-sizing: border-box; color: #fff; font-size: 16px; font-weight: 300;}
section.faq ul.tabList > li .tabListInner.on  {display: block;}

/* section.form-box - 상담신청 */
section.form-box {padding: 100px 0; background: #fff; letter-spacing: -1px;}
section.form-box h2 {text-align: center; font-size: 45px;}
section.form-box h2 em {color: #567215}
section.form-box .inner {width: 1200px; padding: 30px 0 10px; margin: 25px auto; border-top: 3px solid #000; border-bottom: 2px solid #493936;}
section.form-box .inner table {width: 100%;}
section.form-box .inner table td {padding: 8px 0; width: 20%;}
section.form-box .inner table td.tit {width: 10%; padding-left: 15px; box-sizing: border-box; font-size: 20px; position: relative;}
section.form-box .inner table td.tit.tel {padding-left: 50px;}
section.form-box .inner table td.tit.tel:after {left: 35px;}
section.form-box .inner table td.tit:after {content: '*'; position: absolute; left: 0px; top: 18px; font-weight: bold; color: #6b8331;}
section.form-box .inner ul {border-top: 1px solid #000; margin: 25px 0; overflow: hidden;}
section.form-box .inner ul li {width: 50%; float: left; padding: 40px 20px 0px 0; box-sizing: border-box;}
section.form-box .inner ul li:nth-child(2) {padding: 40px 0px 0px 20px;}
section.form-box .inner ul li h3 {font-size: 17px; font-weight: normal; margin-bottom: 10px;}
section.form-box .inner ul li .contents {border: 1px solid #cecece; height: 240px; overflow: auto; padding: 20px; box-sizing: border-box; line-height: 1.4; letter-spacing: 0; font-size: 14px; color: #333; font-weight: 300;}
section.form-box button {display: block; margin: auto; width: 340px; height: 80px; font-size: 30px; background: #404d2d; color: #fff; letter-spacing: -1px; border: none; border-radius: 40px;}
section.form-box button:hover {background: #5b6f2b; transition: all 0.2s;}
section.form-box button em {color: #edffbd;}
section.form-box button span {font-weight: 300;transform: scaleX(0.5); display: inline-block; margin-left: 3px;}

/* input,select */
section.form-box input[type=text] {background: #fff; border: 1px solid #cecece; width: 100%; height: 42px; padding-left:15px; box-sizing: border-box; font-weight: 300; font-size: 16px; color: #000;}
section.form-box select {background: #fff url(../img/selectbox.png) no-repeat right 12px top 50%; border: 1px solid #cecece; width: 100%; height: 42px; padding-left:15px; box-sizing: border-box; color: #000; font-weight: 300; font-size: 16px;-webkit-appearance: none;-moz-appearance: none;appearance: none;line-height: 1.6; vertical-align: top;}

/* checkbox */
.checks {position: relative; float: right; margin-top: 14px;} 
.checks input[type="checkbox"] {position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0 } 
.checks input[type="checkbox"] + label { display: inline-block; position: relative; padding-right: 35px; cursor: pointer; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; font-size: 19px;vertical-align: middle; color: #555;} 
.checks input[type="checkbox"] + label:before {content: ''; position: absolute; right: 0; top: 1px; width: 24px; height: 24px; line-height: 23px;  text-align: center; background: #fff; border: 1px solid #cecece; border-radius: 3px;} 
.checks input[type="checkbox"] + label:active:before, .checks input[type="checkbox"]:checked + label:active:before { box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1); } 
.checks input[type="checkbox"]:checked + label:before {font-size: 20px; font-weight: bold; content: '\2714';  color: #6b8331; background: #fff; border-color: #cecece;}

/* 헤더 반응형 */
@media screen and (max-width:1900px) {
	.innerHeader {width: 100%; min-width: 1200px; padding: 0 40px; box-sizing: border-box;}
	.gnb > li {width: 135px;}
	.gnb > li:nth-child(5) {width: 145px;}
	.innerHeader .logo {width: 250px;}
	.innerHeader .logo img {width: 100%;}
	.gnb ul.inner li a {font-size: 15px;}
	.gnb > li:nth-child(5) ul.inner li a {font-size: 14px;}
}




