<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/product/top_img.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">상품안내</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>상품안내</li>
			<li>하나로 299 더블</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="product">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="pd_snb">
				<div class="top"><img src="../../../asset/front/img/product/side.png" alt="더피플라이프"></div>
				<ul>
					<li><h3>하나로 멤버십상조</h3>
					    <ul class="in">
					    	<li><a href="#">하나로 멤버십 398</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(싱글)</em></h3>
					    <ul class="in">
					    	<li><a href="#">하나로 199</a></li> 
					    	<li><a href="#">하나로 249</a></li> 
					    	<li><a href="#">하나로 299</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(더블)</em></h3>
					    <ul class="in">
					    	<li><a href="#">하나로 199 더블</a></li> 
					    	<li><a href="#">하나로 249 더블</a></li> 
					    	<li><a href="#" class="on">하나로 299 더블</a></li> 
					    </ul>
					</li>
				</ul>
				<div class="bottom"><img src="../../../asset/front/img/product/side2.png" alt="렌탈제품 재판매 금지"></div>
			</aside>
			<div class="topLogo">
				<h2><img src="../../../asset/front/img/product/299d/p_logo.png" alt="더피플라이프하나로299 더블"></h2>
				<h3>하나로<span>299 더블</span></h3>
			</div>
			<div class="hanaroTop">
				<ul>
					<li><img src="../../../asset/front/img/product/199d/p_img_01.png" alt=""></li>
					<li>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="th">상품금액</td>
								<td class="th" style="letter-spacing: 0px">11,976,000원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top;">월 납입금액</td>
								<td style="text-align: right; line-height: 1.8;letter-spacing: 0px">1~180회 : 59,800원<br>181~240회 : 20,200원</td>
							</tr>
							<tr>
								<td colspan="2" class="green">
									<em>※ 라이프케어 서비스를 선택하여 이용가능합니다.</em><br>(상조서비스, 크루즈여행, 웨딩서비스, 축일서비스 中 <span style="color:#9d1f04;">택2</span>)
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<div class="hanaro">
				<div class="box a">
					<h2 class="title"><span>01</span>더피플라이프 ‘하나로’는!</h2>
					<img src="../../../asset/front/img/product/199d/p_img_02.png" alt="">
				</div>
				<div class="box b">
					<h2 class="title"><span>02</span>‘하나로 299 더블’ 고품격 결합 제품</h2>
					<p class="title2">결합상품 <span>中</span> 택1</p>
					<p class="label">LG 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_01.png" alt="">
						<p class="name">LG<br>OLED 55” TV<span>OLED55B8C</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_02.png" alt="">
						<p class="name">LG<br>노크온 냉장고(821L)<span>S831SN75</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_03.png" alt="">
						<p class="name">LG<br>전기건조기(16kg)<span>RH16VH</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_04.png" alt="">
						<p class="name">LG<br>트윈워시(25kg)<span>F21VBTM</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_05.png" alt="">
						<p class="name">LG<br>스타일러(5벌)<span>S5MB/S5BB</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_06.png" alt="">
						<p class="name">LG<br>안마의자 (고급형)<span>BM300RBR</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_07.png" alt="">
						<p class="name">LG 공기청정기(30평형)<br>+A9(일반)<span>AS309DWA+A9309P</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_08.png" alt="">
						<p class="name">LG공기청정기(18평형)<br>+A9(물걸레)<span>AS181DAW+A978IA</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_09.png" alt="">
						<p class="name">LG휘센 에어컨<br>(19평형 or 17+7형)<span>FQ19V9DWA1/FQ17V9WWA2</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
					<p class="label">삼성 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_10.png" alt="">
						<p class="name">삼성<br>UHD 65” TV<span>UN65RU8100FXKR</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_11.png" alt="">
						<p class="name">삼성<br>4도어 김치냉장고 (486L)<span>RQ48R91Y3S9</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_12.png" alt="">
						<p class="name">삼성<br>비스포크 냉장고(871L)<span>RF85R9013S8</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_13.png" alt="">
						<p class="name">삼성 그랑데 건조기(16kg)<br>+설치키트<span>DV16R8540KV+WE357AWV</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_14.png" alt="">
						<p class="name">삼성<br>전기세탁기(26kg)<span>WV26N9670KV</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_15.png" alt="">
						<p class="name">삼성<br>에어드레서(5+5벌)<span>DF10R9700CG</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_16.png" alt="">
						<p class="name">삼성 제트청소기(무선)<br>+공기청정기(30평형)<span>VS20R9044SB+AX100N9080WD</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
				<p class="label">한샘 가구</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_17.png" alt="">
						<p class="name">한샘<br>IMG 리클라이너(최고급)<span>카멜, 진네이비</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_18.png" alt="">
						<p class="name">한샘 고급<br>SS 매트리스 2개<span>&nbsp;</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_19.png" alt="">
						<p class="name">한샘 최고급<br>Q/K 매트리스<span>사이즈 선택</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_20.png" alt="">
						<p class="name">한샘<br>아일랜드 식탁+의자2<span>의자2개 포함</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299d/pd_299d_21.png" alt="">
						<p class="name">한샘 최고급<br>4인용 소파(이태리 가죽)<span>베이지, 카멜, 진그레이</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
				<p class="label">브랜드 가전</p>
					<ul class="pd_list">
						<li>
							<img src="../../../asset/front/img/product/299d/pd_299d_22.png" alt="">
							<p class="name">장수돌침대<br>카우치 L타입<span>FR8509S</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299d/pd_299d_23.png" alt="">
							<p class="name">웰모아<br>블랙라벨7 안마의자<span>HCW-705</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299d/pd_299d_24.png" alt="">
							<p class="name">소닉플러스<br>음파운동기<span>SW-VHBS</span></p>
							<a href="#">상세보기</a>				
						</li>
					</ul>
				</div>
				<div class="text">
					<p>※ 본 상품은 ㈜더피플라이프 상조서비스와 가전 및 가구제품이 결합되어 있는 결합상품으로 상조계약 (선불식 할부계약) 과 가전제품에 대한 <br>&ensp;&ensp;&ensp;렌탈계약을 별도 체결합니다.<br>
						<span>※ 만기 후 1년 간 상조 포함 라이프케어 서비스를 이용하지 않은 경우 <em>[상조 가입금+멤버십 서비스  대금] 전액(100%)을 환급</em>해 드립니다.<br>
						※ 만기 전 라이프케어서비스(상조/크루즈/웨딩/축일서비스)를 이용하시려면, <em>총 납입금에서 고객님께서 납부한 금액을 제외한
						<br>&ensp;&ensp;&ensp;[상조 가입금+멤버십 서비스 대금]을 일시납</em>하여야 합니다.</span></p>
					<p class="fw"><em>[납입금 상세내역]</em><br>
					※ 1~60회차 까지 결합상품 렌탈대금 (총 3,576,000원)이 포함되어 있습니다.<br>
					※ 1~60회차 :59,800원 (상조부금 200원, 결합상품 렌탈대금 59,600원)<br>
					※ 61~180회차 : 59,800원 (전액 상조부금)<br>
					※ 181~240회차 : 20,200원 (전액 상조부금)<br>
					<span>※ 결합상품(전자제품) 수령 후 61회 이내 해약 시 렌탈계약에 따른 위약금이 발생합니다. (제품회수 및 잔여 렌탈료의 30%)</span><br>
					※ 중도 해지 시 해약환급률에 의거하여 해약환급금이 지급됩니다. (결합상품 할부금 제외)
					</p>
				</div>				
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



