<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/product/top_img.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">상품안내</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>상품안내</li>
			<li>하나로 249</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="product">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="pd_snb">
				<div class="top"><img src="../../../asset/front/img/product/side.png" alt="더피플라이프"></div>
				<ul>
					<li><h3>하나로 멤버십상조</h3>
					    <ul class="in">
					    	<li><a href="#">하나로 멤버십 398</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(싱글)</em></h3>
					    <ul class="in">
					    	<li><a href="#">하나로 199</a></li> 
					    	<li><a href="#">하나로 249</a></li> 
					    	<li><a href="#" class="on">하나로 299</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(더블)</em></h3>
					    <ul class="in">
					    	<li><a href="#">하나로 199 더블</a></li> 
					    	<li><a href="#">하나로 249 더블</a></li> 
					    	<li><a href="#">하나로 299 더블</a></li> 
					    </ul>
					</li>
				</ul>
				<div class="bottom"><img src="../../../asset/front/img/product/side2.png" alt="렌탈제품 재판매 금지"></div>
			</aside>
			<div class="topLogo">
				<h2><img src="../../../asset/front/img/product/299/p_logo.png" alt="더피플라이프하나로249"></h2>
				<h3>하나로<span>299</span></h3>
			</div>
			<div class="hanaroTop">
				<ul>
					<li><img src="../../../asset/front/img/product/199/p_img_01.png" alt=""></li>
					<li>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="th">상품금액</td>
								<td class="th" style="letter-spacing: 0px">5,988,000원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top;">월 납입금액</td>
								<td style="text-align: right; line-height: 1.8;letter-spacing: 0px">1~180회 : 29,900원<br>181~240회 : 10,100원</td>
							</tr>
							<tr>
								<td colspan="2" class="green">
									<em>※ 라이프케어 서비스를 선택하여 이용가능합니다.</em><br>(상조서비스, 크루즈여행, 웨딩서비스, 축일서비스 中 택1)
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<div class="hanaro">
				<div class="box a">
					<h2 class="title"><span>01</span>더피플라이프 ‘하나로’는!</h2>
					<img src="../../../asset/front/img/product/199/p_img_02.png" alt="">
				</div>
				<div class="box b">
					<h2 class="title"><span>02</span>‘하나로 299’ 고품격 결합 제품</h2>
					<p class="title2">결합상품 <span>中</span> 택1</p>
					<p class="label">LG 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_01.png" alt="">
						<p class="name">LG FHD 49” TV<br>+사운드바 <span>49LV300C+SK1D</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_02.png" alt="">
						<p class="name">LG<br>통돌이 세탁기(18kg)<span>T18DT</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_03.png" alt="">
						<p class="name">LG<br>프라엘 2종<span>BWJ1/BWJ2+BCJ1</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_04.png" alt="">
						<p class="name">LG 디오스<br>김치냉장고(뚜껑형)<span>K228AW11E</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_05.png" alt="">
						<p class="name">LG 공기청정기(18평형)<br>+싸이킹 청소기<span>AS181DAW+C40KFHT</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_06.png" alt="">
						<p class="name">LG 휘센에어컨(7평형 벽걸이)<br>+공기청정기(11평형)<span>SQ07B8PWDS +AS128VEA</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
					<p class="label">삼성 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_07.png" alt="">
						<p class="name">삼성<br>UHD 49” TV<span>UN49RU6990FXKR</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_08.png" alt="">
						<p class="name">삼성<br>김치플러스(뚜껑형)<span>RP22R31117Z</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_09.png" alt="">
						<p class="name">삼성<br>전자동 세탁기(18kg)<span>WA18R7650GV</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_10.png" alt="">
						<p class="name">삼성<br>제트 무선청소기<span>VS20R9043QA</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_11.png" alt="">
						<p class="name">삼성<br>블루스카이 공기청정기<span>AX90R7580WBD</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/299/pd_299_12.png" alt="">
						<p class="name">삼성<br>무풍 에어컨(9평형 벽걸이)<span>AR09R5173HCS</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
					<p class="label">한샘 가구</p>
					<ul class="pd_list">
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_13.png" alt="">
							<p class="name">한샘<br>비데 2개<span>4100, 화이트</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_14.png" alt="">
							<p class="name">한샘<br>플러스템 책장세트 3통<span>크림,오크,그레이</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_15.png" alt="">
							<p class="name">한샘<br>머랭 부부체어 2개<span>화이트,체크,올리브</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_16.png" alt="">
							<p class="name">한샘<br>K 매트리스 <span>화이트</span></p>
							<a href="#">상세보기</a>				
						</li>
					</ul>
					<p class="label">브랜드 가전</p>
					<ul class="pd_list">
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_17.png" alt="">
							<p class="name">코스텔 레트로 냉장고<br>(300L or 281L)<span>CRS-300G or CRS-281HA</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_18.png" alt="">
							<p class="name">SK매직<br>WIDE 식기세척기<span>12인</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_19.png" alt="">
							<p class="name">다이슨 퓨어쿨<br>공기청정기 선풍기(데스크형)<span>DP04</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_20.png" alt="">
							<p class="name">블롬베르크<br>의류건조기<span>DHP24412W</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_21.png" alt="">
							<p class="name">아이러너<br>런닝머신<span>i-runner_P100</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_22.png" alt="">
							<p class="name">헬스리아<br>반신욕기(일반)<span>On-01(휴)</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_23.png" alt="">
							<p class="name">스쿠터나라<br>전기 전동자전거<span>블랙볼트</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/299/pd_299_24.png" alt="">
							<p class="name">구르메 리클라이너<br>(1인용 홈시어터)<span>M08-1</span></p>
							<a href="#">상세보기</a>				
						</li>
					</ul>
				</div>
				<div class="text">
					<p>※ 본 상품은 ㈜더피플라이프 상조서비스와 가전 및 가구제품이 결합되어 있는 결합상품으로 상조계약 (선불식 할부계약) 과 가전제품에 대한 <br>&ensp;&ensp;&ensp;렌탈계약을 별도 체결합니다.<br>
						<span>※ 만기 후 1년 간 상조 포함 라이프케어 서비스를 이용하지 않은 경우 [상조 가입금+멤버십 서비스  대금] 전액(100%)을 환급해 드립니다.<br>
						※ 만기 전 라이프케어서비스(상조/크루즈/웨딩/축일서비스)를 이용하시려면, 총 납입금에서 고객님께서 납부한 금액을 제외한 
						<br>&ensp;&ensp;&ensp;<em>[상조 가입금+멤버십 서비스 대금]을 일시납</em>하여야 합니다.</span></p>
					<p class="fw"><em>[납입금 상세내역]</em><br>
					※ 1~60회차 까지 결합상품 렌탈대금 (총 1,788,000원)이 포함되어 있습니다.<br>
					※ 1~60회차 :29,900원 (상조부금 100원, 결합상품 렌탈대금 29,800원)<br>
					※ 61~180회차 : 29,900원 (전액 상조부금)<br>
					※ 181~240회차 : 10,100원 (전액 상조부금)<br>
					<span>※ 결합상품(전자제품) 수령 후 61회 이내 해약 시 렌탈계약에 따른 위약금이 발생합니다. (제품회수 및 잔여 렌탈료의 30%)</span><br>
					※ 중도 해지 시 해약환급률에 의거하여 해약환급금이 지급됩니다. (결합상품 할부금 제외). 
					</p>
				</div>				
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



