<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/product/top_img.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">상품안내</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>상품안내</li>
			<li>하나로 199</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="product">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="pd_snb">
				<div class="top"><img src="../../../asset/front/img/product/side.png" alt="더피플라이프"></div>
				<ul>
					<li><h3>하나로 멤버십상조</h3>
					    <ul class="in">
					    	<li><a href="#">하나로 멤버십 398</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(싱글)</em></h3>
					    <ul class="in">
					    	<li><a href="#" class="on">하나로 199</a></li> 
					    	<li><a href="#">하나로 249</a></li> 
					    	<li><a href="#">하나로 299</a></li> 
					    </ul>
					</li>
					<li><h3>하나로 결합상조<em>(더블)</em></h3>
					    <ul class="in">
					    	<li><a href="#">하나로 199 더블</a></li> 
					    	<li><a href="#">하나로 249 더블</a></li> 
					    	<li><a href="#">하나로 299 더블</a></li> 
					    </ul>
					</li>
				</ul>
				<div class="bottom"><img src="../../../asset/front/img/product/side2.png" alt="렌탈제품 재판매 금지"></div>
			</aside>
			<div class="topLogo">
				<h2><img src="../../../asset/front/img/product/199/p_logo.png" alt="더피플라이프하나로199"></h2>
				<h3>하나로<span>199</span></h3>
			</div>
			<div class="hanaroTop">
				<ul>
					<li><img src="../../../asset/front/img/product/199/p_img_01.png" alt=""></li>
					<li>
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="th">상품금액</td>
								<td class="th" style="letter-spacing: 0px">5,388,000원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top;">월 납입금액</td>
								<td style="text-align: right; line-height: 1.8;letter-spacing: 0px">1~269회 : 19,900원<br>270회 : 34,900원</td>
							</tr>
							<tr>
								<td colspan="2" class="green">
									<em>※ 라이프케어 서비스를 선택하여 이용가능합니다.</em><br>(상조서비스, 크루즈여행, 웨딩서비스, 축일서비스 中 택1)
								</td>
							</tr>
						</table>
					</li>
				</ul>
			</div>
			<div class="hanaro">
				<div class="box a">
					<h2 class="title"><span>01</span>더피플라이프 ‘하나로’는!</h2>
					<img src="../../../asset/front/img/product/199/p_img_02.png" alt="">
				</div>
				<div class="box b">
					<h2 class="title"><span>02</span>‘하나로 199’ 고품격 결합 제품</h2>
					<p class="title2">결합상품 <span>中</span> 택1</p>
					<p class="label">LG 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_01.png" alt="">
						<p class="name">LG<br>FHD 43” TV<span>43LK561C</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_02.png" alt="">
						<p class="name">LG<br>공기청정기 2개 (11평형)<span>AS128VEA</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_03.png" alt="">
						<p class="name">LG<br>프라엘 2종<span>BLJ1+BCJ1</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_04.png" alt="">
						<p class="name">LG<br>로보킹 청소기<span>R46CIM</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_05.png" alt="">
						<p class="name">LG 싸이킹 청소기<br>+시원스쿨탭<span>C40KFHT+LG-V525S3</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_06.png" alt="">
						<p class="name">LG<br>휘센 에어컨(6평형 벽걸이)<span>SQ06B8PWDS</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
				<p class="label">한샘 가구</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_07.png" alt="">
						<p class="name">한샘<br>피코 소파테이블<span>화이트,그레이,그레이오크,오크,노체</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_08.png" alt="">
						<p class="name">한샘<br>3단 서랍장<span>연그레이,그레이,오크,브라운</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_09.png" alt="">
						<p class="name">한샘<br>밀란 303 AV장<span>화이트, 브라운</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_10.png" alt="">
						<p class="name">한샘<br>SS 매트리스<span>화이트</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_11.png" alt="">
						<p class="name">한샘<br>벨라 책상의자<span>블랙</span></p>
						<a href="#">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/199/pd_199_12.png" alt="">
						<p class="name">한샘<br>4인식탁(의자+벤치)<span>메이플, 브라운</span></p>
						<a href="#">상세보기</a>				
					</li>
				</ul>
				<p class="label">브랜드 가전</p>
					<ul class="pd_list">
						<li>
							<img src="../../../asset/front/img/product/199/pd_199_13.png" alt="">
							<p class="name">아베크<br>펫 드라이룸<span>AHC-201</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/199/pd_199_14.png" alt="">
							<p class="name">아베크<br>펫 드라이룸<span>AHC-201</span></p>
							<a href="#">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/199/pd_199_15.png" alt="">
							<p class="name">브람스<br>N큐브 다리 마사지기<span>BRAMS-977</span></p>
							<a href="#">상세보기</a>				
						</li>
					</ul>
				</div>
				<div class="text">
					<p>※ 본 상품은 ㈜더피플라이프 상조서비스와 가전 및 가구제품이 결합되어 있는 결합상품으로 상조계약 (선불식 할부계약) 과 가전제품에 대한 <br>&ensp;&ensp;&ensp;렌탈계약을 별도 체결합니다.<br>
						<span>※ 만기 후 1년 간 상조 포함 라이프케어 서비스를 이용하지 않은 경우 [상조 가입금+멤버십 서비스  대금] 전액(100%)을 환급해 드립니다.<br>
						※ 만기 전 라이프케어서비스(상조/크루즈/웨딩/축일서비스)를 이용하시려면, 총 납입금에서 고객님께서 납부한 금액을 제외한
						<br>&ensp;&ensp;&ensp;<em>[상조 가입금+멤버십 서비스 대금]을 일시납</em>하여야 합니다.</span></p>
					<p class="fw"><em>[납입금 상세내역]</em><br>
					※ 1~60회차 까지 결합상품 렌탈대금 (총 1,188,000원)이 포함되어 있습니다. <br>
					※ 1~60회차 :19,900원 (상조부금 100원, 결합상품 렌탈대금 19,800원)<br>
					※ 61~269회차 : 19,900원 (전액 상조부금)<br>
					※ 270회차 : 34,900원 (전액 상조부금)<br>
					<span>※ 결합상품(전자제품) 수령 후 61회 이내 해약 시 렌탈계약에 따른 위약금이 발생합니다. (제품회수 및 잔여 렌탈료의 30%)</span><br>
					※ 중도 해지 시 해약환급률에 의거하여 해약환급금이 지급됩니다. (결합상품 할부금 제외). 
					</p>
				</div>				
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



