<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>고객센터</li>
			<li>FAQ</li>
		</ul>
	</section>  
	<ul class="topList">
		<li><a href="#">공지사항</a></li>
		<li><a href="#" class="on">FAQ</a></li>
	</ul>
	<!-- 내용시작 -->
	<section class="faq">
		<div class="inner">
			<ul class="tab">
				<li><a href="#" class="on">전체</a></li>
				<li><a href="#">가입 및 상품 문의</a></li>
				<li><a href="#">상조서비스</a></li>
				<li><a href="#">상품공통</a></li>
				<li><a href="#">만기환급</a></li>
				<li><a href="#">중도해약</a></li>
				<li><a href="#">결제방식 변경</a></li>
			</ul>
			<ul class="tabList on">
				<li><a href="#" class="on">상품을 원하는만큼 가입할 수 있나요?</a>
					<ul class="tabListInner on">
						<li>결합상품은 1구좌로 가입이 제한되어 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">몇살부터 몇살까지 가입 가능한가요?</a>
					<ul class="tabListInner">
						<li>만25세 이상 – 만70세 생일 3개월 전까지 가입 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">가족 명의로도 가입할 수 있나요?</a>
					<ul class="tabListInner">
						<li>본인 명의로만 가입 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">싱글 상품과 더블 상품은 어떤 차이가 있나요?</a>
					<ul class="tabListInner">
						<li>싱글 상품은 라이프서비스를 1개 이용하실 수 있는 상품이고, 더블 상품은 라이프서비스를 2개 이용하실 수 있는 상품입니다.<br>더블 상품을 가입하시면 싱글 상품 대비 더 좋은 가전제품도 받으실 수 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">장례가 발생되면 어떻게 해야하나요</a>
					<ul class="tabListInner">
						<li>언제든 1588-4471로 연락주시면 바로 진행해드리겠습니다.</li>
					</ul>
				</li>
				<li><a href="#">상조서비스에 포함되어있는 내역은 무엇이 있나요?</a>
					<ul class="tabListInner">
						<li>장례전문 인력과 의전차량 및 꽃장식, 고인용품(관, 수의, 염베 등), 의전용품과 빈소용품, 일회용품(200인분), 수시용품, <br>발인용품이 포함되어있고, 모바일 부고서비스, 행정절차 안내서비스 등 기타 서비스도 제공됩니다.</li>
					</ul>
				</li>
				<li><a href="#">상조서비스 외에 사용할 수 있는건 없나요?</a>
					<ul class="tabListInner">
						<li>더피플라이프는 장례서비스 외에도, 크루즈서비스, 웨딩서비스, 축일(돌/칠•팔순)서비스를 제공하고 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">납입도중 장례서비스 이용 시, 잔금 정산은 어떻게 하나요?</a>
					<ul class="tabListInner">
						<li>발인 전까지 기 납입하신 금액을 제외한 잔금을 일시에 납부해주시면 됩니다.</li>
						<li>잔금 납부는 현금결제, 카드결제, 계좌이체 모두 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">납부한 상조부금에 대해 현금영수증 발행이 가능한가요?</a>
					<ul class="tabListInner">
						<li>납부기간 도중에는 발행이 불가합니다. 하지만 상조서비스를 이용하여 잔금을 일시납해주신 경우에는 현금영수증 발행이 가능합니다. </li>
					</ul>
				</li>
				<li><a href="#">소비자피해보상 계약이 무엇인가요?</a>
					<ul class="tabListInner">
						<li>당사의 폐업, 등록취소 등으로 인하여 생기는 소비자 피해를 막기 위해, 상조보증공제조합과의 공제 계약을 말합니다</li>
						<li>고객님의 불입금 중 50%는 소비자피해보상을 위하여 상조보증공제조합에 납입하고 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">소비자피해증서가 무엇인가요?</a>
					<ul class="tabListInner">
						<li>당사와 소비자피해보상 계약을 맺은 상조보증공제조합에서 고객님께 계약 내용에 대해 보내드리는 증서입니다.</li>
						<li>상조보증공제조합 홈페이지(www.ksmac.or.kr)에서 증서번호를 입력하시면 소비자피해보상계약 체결 여부 및 보상 금액 등을 <br>확인하실 수 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">만기환급금은 언제부터 신청할 수 있나요?</a>
					<ul class="tabListInner">
						<li>만기회차 납입 후 1년이 경과된 시점에서부터 신청 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">만기에 환급받을 수 있는 금액은 얼마인가요?</a>
					<ul class="tabListInner">
						<li>만기 1년 경과 후까지 라이프서비스를 이용하지 않으신 경우, 상조계약금과 렌탈계약금을 전액(100%) 환급해드립니다.</li>
					</ul>
				</li>
				<li><a href="#">더블상품 가입 후 라이프서비스 1개만 사용했을 경우 환급 받을 수 있는 금액은 얼마인가요?</a>
					<ul class="tabListInner">
						<li>잔여 1개 구좌 만기 완납 후 1년이 경과된 시점에 잔여 1개 구좌에 대한 실상조납입금이 전액 환급됩니다.</li>
					</ul>
				</li>
				<li><a href="#">상품 납입 중간에 해약할 수 있나요?</a>
					<ul class="tabListInner">
						<li>고객의 사정으로 상조계약 또는 렌탈계약 중 어느 하나가 청약철회/해지되는 경우 결합상품의 성격 상 다른 계약 역시 <br>자동으로 철회 또는 해지됩니다.</li><br>
						<li>상조계약 청약철회/중도해약 시, 해약환급률표에 따른 해약환급금을 받을 수 있습니다.</li>
						<li>렌탈계약 해지 시, 가전제품에 대한 지원 적용이 불가하여 렌탈제품 회수 및 위약금이 발생하며, 제품 회수에 대한 운송료 <br>또한 부담해주셔야 합니다.</li>
					</ul>
				</li>
				<li><a href="#">결제방식을 변경하고 싶은데 어떻게 해야하나요?</a>
					<ul class="tabListInner">
						<li>60회차 이전 변경 시 그린위치 (02-6207-6100)으로 전화하셔서 변경 진행하시면 되고, 60회차 이후 변경 건은 더피플라이프 <br>고객센터(1577-3411)로 전화하셔서 변경 진행해주시면 됩니다.</li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#" class="on">상품을 원하는만큼 가입할 수 있나요?</a>
					<ul class="tabListInner on">
						<li>결합상품은 1구좌로 가입이 제한되어 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">몇살부터 몇살까지 가입 가능한가요?</a>
					<ul class="tabListInner">
						<li>만25세 이상 – 만70세 생일 3개월 전까지 가입 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">가족 명의로도 가입할 수 있나요?</a>
					<ul class="tabListInner">
						<li>본인 명의로만 가입 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">싱글 상품과 더블 상품은 어떤 차이가 있나요?</a>
					<ul class="tabListInner">
						<li>싱글 상품은 라이프서비스를 1개 이용하실 수 있는 상품이고, 더블 상품은 라이프서비스를 2개 이용하실 수 있는 상품입니다.<br>더블 상품을 가입하시면 싱글 상품 대비 더 좋은 가전제품도 받으실 수 있습니다.</li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#">장례가 발생되면 어떻게 해야하나요</a>
					<ul class="tabListInner on">
						<li>언제든 1588-4471로 연락주시면 바로 진행해드리겠습니다.</li>
					</ul>
				</li>
				<li><a href="#">상조서비스에 포함되어있는 내역은 무엇이 있나요?</a>
					<ul class="tabListInner">
						<li>장례전문 인력과 의전차량 및 꽃장식, 고인용품(관, 수의, 염베 등), 의전용품과 빈소용품, 일회용품(200인분), 수시용품, <br>발인용품이 포함되어있고, 모바일 부고서비스, 행정절차 안내서비스 등 기타 서비스도 제공됩니다.</li>
					</ul>
				</li>
				<li><a href="#">상조서비스 외에 사용할 수 있는건 없나요?</a>
					<ul class="tabListInner">
						<li>더피플라이프는 장례서비스 외에도, 크루즈서비스, 웨딩서비스, 축일(돌/칠•팔순)서비스를 제공하고 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">납입도중 장례서비스 이용 시, 잔금 정산은 어떻게 하나요?</a>
					<ul class="tabListInner">
						<li>발인 전까지 기 납입하신 금액을 제외한 잔금을 일시에 납부해주시면 됩니다.</li>
						<li>잔금 납부는 현금결제, 카드결제, 계좌이체 모두 가능합니다.</li>
					</ul>
				</li>
				<li><a href="#">납부한 상조부금에 대해 현금영수증 발행이 가능한가요?</a>
					<ul class="tabListInner">
						<li>납부기간 도중에는 발행이 불가합니다. 하지만 상조서비스를 이용하여 잔금을 일시납해주신 경우에는 현금영수증 발행이 가능합니다. </li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#">소비자피해보상 계약이 무엇인가요?</a>
					<ul class="tabListInner on">
						<li>당사의 폐업, 등록취소 등으로 인하여 생기는 소비자 피해를 막기 위해, 상조보증공제조합과의 공제 계약을 말합니다</li>
						<li>고객님의 불입금 중 50%는 소비자피해보상을 위하여 상조보증공제조합에 납입하고 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">소비자피해증서가 무엇인가요?</a>
					<ul class="tabListInner">
						<li>당사와 소비자피해보상 계약을 맺은 상조보증공제조합에서 고객님께 계약 내용에 대해 보내드리는 증서입니다.</li>
						<li>상조보증공제조합 홈페이지(www.ksmac.or.kr)에서 증서번호를 입력하시면 소비자피해보상계약 체결 여부 및 보상 금액 등을 <br>확인하실 수 있습니다.</li>
					</ul>
				</li>
				<li><a href="#">만기환급금은 언제부터 신청할 수 있나요?</a>
					<ul class="tabListInner">
						<li>만기회차 납입 후 1년이 경과된 시점에서부터 신청 가능합니다.</li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#">만기에 환급받을 수 있는 금액은 얼마인가요?</a>
					<ul class="tabListInner on">
						<li>만기 1년 경과 후까지 라이프서비스를 이용하지 않으신 경우, 상조계약금과 렌탈계약금을 전액(100%) 환급해드립니다.</li>
					</ul>
				</li>
				<li><a href="#">더블상품 가입 후 라이프서비스 1개만 사용했을 경우 환급 받을 수 있는 금액은 얼마인가요?</a>
					<ul class="tabListInner">
						<li>잔여 1개 구좌 만기 완납 후 1년이 경과된 시점에 잔여 1개 구좌에 대한 실상조납입금이 전액 환급됩니다.</li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#">상품 납입 중간에 해약할 수 있나요?</a>
					<ul class="tabListInner on">
						<li>고객의 사정으로 상조계약 또는 렌탈계약 중 어느 하나가 청약철회/해지되는 경우 결합상품의 성격 상 다른 계약 역시 <br>자동으로 철회 또는 해지됩니다.</li><br>
						<li>상조계약 청약철회/중도해약 시, 해약환급률표에 따른 해약환급금을 받을 수 있습니다.</li>
						<li>렌탈계약 해지 시, 가전제품에 대한 지원 적용이 불가하여 렌탈제품 회수 및 위약금이 발생하며, 제품 회수에 대한 운송료 <br>또한 부담해주셔야 합니다.</li>
					</ul>
				</li>
			</ul>
			<ul class="tabList">
				<li><a href="#">결제방식을 변경하고 싶은데 어떻게 해야하나요?</a>
					<ul class="tabListInner on">
						<li>60회차 이전 변경 시 그린위치 (02-6207-6100)으로 전화하셔서 변경 진행하시면 되고, 60회차 이후 변경 건은 더피플라이프 <br>고객센터(1577-3411)로 전화하셔서 변경 진행해주시면 됩니다.</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
</div><!--//wrap-->
<script>
//탭메뉴
$(function() {            
    $('section.faq ul.tab li a').on('click', function() {
        var index = $('section.faq ul.tab li a').index($(this));
		$('section.faq ul.tabList').removeClass('on');
        $('section.faq ul.tabList:eq(' + (index + 0) + ') ').addClass('on');	
		$('.tabListInner').slideUp(0);
		$('.tabListInner.on').slideDown(300);
		 $('section.faq ul.tab li a').removeClass('on');
		$(this).addClass('on');	
    });        
	$('section.faq ul.tabList li a').on('click', function() {
		$('.tabListInner').slideUp(300);
		$(this).next('ul').slideDown(300);
		$('section.faq ul.tabList li a').removeClass('on');
		$(this).addClass('on');	
	});
/*	$('.btnBox .op').on('click', function() {
		$('.tabListInner').slideDown(300);
	});
	$('.btnBox .cl').on('click', function() {
		$('.tabListInner').slideUp(300);
	});*/
}); 	
</script>
</body>
</html>		



