<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>제휴카드</li>
			<li>하나카드</li>
		</ul>
	</section>  
	<ul class="topList">
		<li><a href="#" class="on">하나카드</a></li>
		<li><a href="#">롯데카드</a></li>
	</ul>
	<section class="subVisual card">
		<img src="../../../asset/mobile/img/card/tit.png" alt="">
		<div class="mainTit" style="top: 54%;">
			<h2 class="animate" data-animate="fadeIn" data-duration="1s" data-delay="0s"><img src="../../../asset/mobile/img/card/tit3.png" alt="" style="width: 62%;"></h2>
			<a href="https://m.hanacard.co.kr/MPACMM101M.web?CD_PD_SEQ=11589" style="display: block;width: 46%; margin: 5% auto 0;" target="_blank"><img src="../../../asset/mobile/img/card/btn.png" alt=""></a>
		</div>
	</section>		
	<section class="life" style="margin-top: 30px;">
		<img src="../../../asset/mobile/img/card/txt.png" alt="">
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: true, 
    once: false 
});    	
</script>
</body>
</html>		



