<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/landing.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/slick.min.js"></script>  	
</head>
<body>
	<div class="wrap">
		<div class="top">
			<img src="../../../asset/landimg/mob/new/s/img_05.png" alt="" width="100%">
			<div class="inner">
				<h2><img src="../../../asset/landimg/mob/new/s/img_03.png" alt="" width="100%"></h2>
				<h2><img src="../../../asset/landimg/mob/new/s/img_04.png" alt="" width="100%"></h2>
				<p><img src="../../../asset/landimg/mob/new/s/img_02.png" alt="" width="100%"></p>
			</div>
			<a href="tel:1668-1741"><img src="../../../asset/landimg/mob/new/s/img_01.png" alt="" width="100%"></a>
		</div>
		<div class="top2">
			<div class="inner">
				<ul>
					<li>꽉꽉 찬 김치냉장고 답답하시죠?</li>
					<li>비싸다고 렌탈하세요?</li>
					<li>미세먼지에 집안도 답답하시죠?</li>
					<li>10년 넘게 쓴 가전 A/S도 힘드시죠?</li>
				</ul>
			</div>
		</div>
		<div class="con a">
			<h2><img src="../../../asset/landimg/mob/new/s/img_07.png" alt="" width="63%"></h2>
			<div class="box">
				<ul class="graph">
					<li><img src="../../../asset/landimg/mob/new/s/img_08.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_14.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_10.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_12.png" alt=""></li>
				</ul>
				<ul class="graph">
					<li><img src="../../../asset/landimg/mob/new/s/img_09.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_15.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_11.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_13.png" alt=""></li>
				</ul>
			</div>
			<h2><img src="../../../asset/landimg/mob/new/s/img_16.png" alt="" width="63%"></h2>
			<div class="box">
				<ul class="vs">
					<li><img src="../../../asset/landimg/mob/new/s/img_17.png" alt=""></li>
					<li><img src="../../../asset/landimg/mob/new/s/img_18.png" alt=""></li>
				</ul>
				<p class="vs2"><img src="../../../asset/landimg/mob/new/s/img_19.png" alt="" width="100%"></p>
			</div>
		</div>
		<img src="../../../asset/landimg/mob/new/s/img_20.png" alt="" width="100%">
		<div class="con b">
			<h2><img src="../../../asset/landimg/mob/new/s/img_21.png" alt="" width="91%"></h2>
			<ul>
				<li class="animate" data-animate="fadeInUp" data-duration="0.65s"><img src="../../../asset/landimg/mob/new/s/img_22.png" alt="" width="100%"></li>
				<li class="animate" data-animate="fadeInUp" data-duration="0.65s"><img src="../../../asset/landimg/mob/new/s/img_23.png" alt="" width="100%"></li>
				<li class="animate" data-animate="fadeInUp" data-duration="0.65s"><img src="../../../asset/landimg/mob/new/s/img_24.png" alt="" width="100%"></li>
				<li class="animate" data-animate="fadeInUp" data-duration="0.65s"><img src="../../../asset/landimg/mob/new/s/img_25.png" alt="" width="100%"></li>
			</ul>
			<p><img src="../../../asset/landimg/mob/new/s/img_26.png" alt="" width="91%"></p>
			<h2><img src="../../../asset/landimg/mob/new/s/img_27.png" alt="" width="85%"></h2>
			<p class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/mob/new/s/img_28.png" alt="" width="85%"></p>
		</div>
		<div class="con c">
			<ul>
				<li class="animate" data-animate="fadeIn" data-duration="1s"><img src="../../../asset/landimg/mob/new/s/img_29.png" alt="" width="78%"></li>
				<li class="animate" data-animate="fadeInDown" data-duration="0.8s"><img src="../../../asset/landimg/mob/new/s/img_30.png" alt="" width="48%"></li>
				<li class="animate" data-animate="fadeInDown" data-duration="0.8s"><img src="../../../asset/landimg/mob/new/s/img_31.png" alt="" width="85%"></li>
				<li class="animate" data-animate="fadeInDown" data-duration="0.7s"><img src="../../../asset/landimg/mob/new/s/img_32.png" alt="" width="85%"></li>
			</ul>	
		</div>
		<div class="con d">
			<h2><img src="../../../asset/landimg/mob/new/s/img_33.png" alt="" width="85%"></h2>
			<p class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/mob/new/s/img_34.png" alt="" width="85%"></p>
			<p class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/mob/new/s/img_35.png" alt="" width="85%"></p>
		</div>
		<div class="con e">
			<span class="animate" data-animate="sc" data-duration="0.35s"><img src="../../../asset/landimg/mob/new/s/img_36.png" alt=""></span>
			<div class="tit">
				<h2 class="animate" data-animate="ani1" data-duration="0.8s"><img src="../../../asset/landimg/mob/new/s/img_37.png" alt=""></h2>
				<h3 class="animate" data-animate="fadeIn2" data-duration="1.5s"><img src="../../../asset/landimg/mob/new/s/img_38.png" alt=""></h3>
				<p class="animate" data-animate="fadeIn3" data-duration="1s"><img src="../../../asset/landimg/mob/new/s/img_39.png" alt=""></p>
			</div>
			<div class="box">
				<div class="inner">
					<ul class="slide">
						<li>
							<span><img src="../../../asset/landimg/mob/new/s/img_44.png" width="100%"></span>
							<span><img src="../../../asset/landimg/mob/new/s/img_45.png" width="100%"></span>
						</li>
						<li>
							<span><img src="../../../asset/landimg/mob/new/s/img_46.png" width="100%"></span>
							<span><img src="../../../asset/landimg/mob/new/s/img_47.png" width="100%"></span>
						</li>
					</ul>
					<img src="../../../asset/landimg/mob/new/s/img_41.png" alt="" width="90%">
				</div>
			</div>
			<img src="../../../asset/landimg/mob/new/s/img_42.png" alt="" width="85%"> 
		</div>
		<img src="../../../asset/landimg/mob/new/s/img_43.png" alt="" width="100%"> 
	</div><!--//wrap-->
<script>
    /*스크롤애니메이션*/
    var scrollTop = 0;
    scrollTop = $(document).scrollTop();
    ani('.top, .top3 .inner ,.graph, .vs, .vs2');

    $(window).on('scroll resize', function() {
        scrollTop = $(document).scrollTop();
        ani('.top, .top3 .inner ,.graph, .vs, .vs2');
    });

    function ani(selector) {
        $(selector).each(function() {
            var $selector = $(this);
            var minShow = $selector.offset().top - $(window).height();
            var maxShow = $selector.offset().top + $selector.outerHeight();
            $selector.removeClass('down on up');
            if (scrollTop < minShow) {
                $selector.addClass('down');
            } else if (scrollTop > maxShow) {
                $selector.addClass('up');
            } else {
                $selector.addClass('on');
            }
        });
    }   
	//스크롤애니
	$('.animate').scrolla({
		mobile: true, 
		once: false 
	}); 
//슬라이드
    $(function() {
        $(".slide").slick({
            arrows: false, //화살표
            dots: true, //인디케이터 해제
            autoplay: true, //자동재생
            autoplaySpeed: 5000, //재생시간
            pauseOnHover:false, //마우스 오버, 포커스시 멈추는것 해제
		    pauseOnFocus:false,
			fade:true
        });
    }); 	
</script>
</body>
</html>		



