<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>고객센터</li>
			<li>공지사항</li>
		</ul>
	</section>  
	<ul class="topList">
		<li><a href="#" class="on">공지사항</a></li>
		<li><a href="#">FAQ</a></li>
	</ul>
	<!-- 내용시작 -->
	<section class="notice">
		<div class="inner">
			<div class="form-box">
				<select name="" id="">
					<option value="전체">전체</option>
					<option value="제목">제목</option>
					<option value="내용">내용</option>
				</select>
				<input type="text" name=""> 
			</div>
			<table cellspacing="0" border="0">
				<tr>
					<td width="14%"><span class="new">공지</span></td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
				<tr>
					<td><span class="new">공지</span></td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
				<tr>
					<td class="num">10</td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
				<tr>
					<td class="num">9</td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
				<tr>
					<td class="num">8</td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
				<tr>
					<td class="num">7</td>
					<td class="text"><a href="#">199+ 16년 12월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내2월 홈쇼핑 방송 스케쥴 변경안내</a></td>
				</tr>
			</table>
			<div class="paginate">
				<a href="#" class="btn_first"><span class="hidden">처음</span>&lt;&lt;</a>
				<a href="#" class="btn_prev"><span class="hidden">이전</span>&lt;</a>
				<span class="hidden">현재페이지</span><span class="link_page">1</span>
				<a href="#" class="link_page">2</a>
				<a href="#" class="link_page">3</a>
				<a href="#" class="link_page">4</a>
				<a href="#" class="link_page">5</a>

				<a href="#" class="btn_next"><span class="hidden">다음</span>&gt;</a>
				<a href="#" class="btn_end"><span class="hidden">마지막</span>&gt;&gt;</a>
			</div>
		</div>
	</section>
</div><!--//wrap-->
</body>
</html>		



