<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>WHY 더피플라이프</li>
			<li>신뢰/안정/성장</li>
		</ul>
	</section>  
	<ul class="topList">
		<li><a href="#" class="on">신뢰/안정/성장</a></li>
		<li><a href="#">프리미어 장례서비스</a></li>
	</ul>
	<section class="why">
		<div class="inner">
			<h2 class="tit">WHY <em>더피플라이프</em></h2>
			<img src="../../../asset/mobile/img/why/why_01.png" alt="">			
		</div>
		<div class="inner">
			<h2 class="title">안정적인 재무구조</h2>
			<p class="subTitle">총 고객 환급 의무액보다<br>상조 관련 자산이 더 많은 <em>신뢰의 기업</em></p>
			<img src="../../../asset/mobile/img/why/why_02.png" alt="">	
			<h2 class="title">성장률 업계 1위</h2>
			<img src="../../../asset/mobile/img/why/why_03.png" alt="">
		</div>
		<div class="inner">
			<h2 class="title">수상실적</h2>
			<img src="../../../asset/mobile/img/why/why_04.png" alt="">
			<h2 class="title">든든한 제휴사</h2>
			<img src="../../../asset/mobile/img/why/why_05.png" alt="">
		</div>
	</section>
</div><!--//wrap-->
</body>
</html>		



