<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/life/visualBg_01.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">라이프케어</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>라이프케어</li>
			<li>크루즈서비스</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="life cruise">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>라이프케어</li>
					<li><a href="#">상조서비스</a></li>
					<li><a href="#" class="on">크루즈서비스</a></li>
					<li><a href="#">웨딩서비스</a></li>
					<li><a href="#">축일서비스</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/life/life_02.png" alt="크루즈서비스- 바다 위에서 즐기는 꿈의 크루즈여행 호화로운 선상생활로 당신을 초대합니다."></h2>
			<div class="table">
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="8" style="font-size: 18px; background: #8ea162; color: #fff; font-weight: normal; border-radius: 4px; text-align: center; border-color: #8ea162">크루즈 운행 일정표</td>
						</tr>
						<tr>
							<td colspan="4" class="th">아시아 크루즈</td>
							<td colspan="2" class="th">알래스카 크루즈</td>
							<td colspan="2" class="th" style="font-weight: bold;">지중해 크루즈</td>
						</tr>
						<tr>
							<td colspan="2"  width="25%" style="text-align:center; font-size:18px; padding:15px 0; border-bottom-width: 2px">싱가포르/말레이시아/태국</td>
							<td colspan="2"  width="25%" style="text-align:center; font-size:18px; padding:15px 0; border-bottom-width: 2px">마카오/홍콩/심천<br />
							(크루즈2박 +마카오 심천 관광)</td>
							<td colspan="2"  width="25%" style="text-align:center; font-size:18px; padding:15px 0; border-bottom-width: 2px">알래스카</td>
							<td colspan="2"  width="25%" style="text-align:center; font-size:18px; padding:15px 0; border-bottom-width: 2px">이탈리아/스페인/프랑스</td>
						</tr>
						<tr>
							<td class="bg">이용 선실</td>
							<td colspan="7">인사이드 / 오션뷰 / 발코니</td>
						</tr>
						<tr>
							<td class="bg">여행 기간</td>
							<td colspan="2" width="20%">아시아(4/5/6일)</td>
							<td colspan="2"  width="20%">동남아(5/6일)</td>
							<td colspan="2"  width="20%">알래스카(8/9일)
							<td  width="20%">지중해 및 기타(8/10일)
						</tr>
						<tr>
							<td class="bg">포함 내역</td>
							<td colspan="7">① 국제선 항공료 (출항지가&nbsp; 해외의 경우) &nbsp;② 크루즈 선실 이용료(단, 유료시설 이용료 제외)&nbsp; ③ 1억원 여행자 보험<br />
							④ 전일정 숙박/차량 및 식사&nbsp; ⑤ 기항지 관광비용&nbsp; ⑥ 인솔자, 현지가이드 및 기사 경비 및 팁</td>
						</tr>
						<tr>
							<td class="bg">불포함 사항</td>
							<td colspan="7">① 유류할증료 및 각종 제세공과금&nbsp;&nbsp; ② 선내팁&nbsp; ③ (필요시) 선실 업그레이드 비용, 선실 1인 사용 시 독실 사용료<br />
							④ 기준 여행 기간 초과 시 추가 요금&nbsp; ⑤ 기타 개인 비용 불포함(선내 유료 시설 이용료, 음료 및 주류, 개인비용 등)</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text">
				<p>- 상기 일정은 크루즈 선사 및 현지 사정에 따라  변동 가능하며, 상품금액은 선사, 환율, 계절별 프로그램에 따라 변동 가능합니다.</p>
				<p class="red">※ 해당 서비스는 <em>하나로 결합상조 전용 라이프케어 서비스</em> 입니다. 하나로 멤버십 상조 라이프케어 서비스는 멤버십 상조페이지에서 
     			별도 확인 바랍니다.</p>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



