<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/life/visualBg_01.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">라이프케어</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>라이프케어</li>
			<li>축일서비스</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="life festival">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>라이프케어</li>
					<li><a href="#">상조서비스</a></li>
					<li><a href="#">크루즈서비스</a></li>
					<li><a href="#">웨딩서비스</a></li>
					<li><a href="#" class="on">축일서비스</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/life/life_04.png" alt="웨딩서비스- 평생 기억에 남을 행복한 웨딩을 위해 최적의 서비스를 제공해드리는 더피플라이프가 있습니다."></h2>
			<div class="table">
				<h3>돌잔치</h3>
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td style="padding-left: 0; background: #8ea162; color: #fff; font-weight: normal; border-radius: 4px 0 0 4px; text-align: center; border-bottom-color: #8ea162">구분</td>
							<td colspan="6" style="padding-left: 0; background: #6b8331; color: #fff; font-weight: normal; border-radius: 0 4px 4px 0; text-align: center;">제공내역</td>
						</tr>
						<tr>
							<td rowspan="4" class="bg" width="150px">Event 돌상</td>
							<td>돌상장식</td>
							<td class="fw">실물떡 3종</td>
							<td colspan="2" class="bg" width="240px">돌잡이 용품</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>인형장식</td>
							<td class="fw">제공</td>
							<td colspan="2" class="bg">축하케익 3단(실물 1단)</td>
							<td>장소 미제공시 제공</td>
						</tr>
						<tr>
							<td>전구장식</td>
							<td class="fw">제공</td>
							<td class="bg" width="120px">비디오</td>
							<td class="bg">DVD</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>포토테이블</td>
							<td class="fw">제공</td>
							<td colspan="2" class="bg">사진 편집 영상 제작</td>
							<td>빔 프로젝터 사용(필요시 제공)</td>
						</tr>
						<tr>
							<td class="bg">돌복대여</td>
							<td>주인공</td>
							<td class="fw">제공</td>
							<td rowspan="2" colspan="2" class="bg">진행요원</td>
							<td rowspan="2">음향 시설과 음향 전문기사 제공<br />
							(장소 미제공시 제공)</td>
						</tr>
						<tr>
							<td class="bg">사진</td>
							<td>원판사진</td>
							<td style="border-right: 1px solid #6b8331">8R 4P</td>
						</tr>
						<tr>
							<td class="bg">액자</td>
							<td>스냅사진(원판합본)</td>
							<td class="fw">8R 14P</td>
							<td class="bg">진행요원</td>
							<td class="bg">사회진행</td>
							<td>전문 MC 제공</td>
						</tr>
						<tr>
							<td class="bg">원본CD</td>
							<td>8R</td>
							<td class="fw">제공</td>
							<td colspan="2" class="bg">이벤트기획</td>
							<td>맞춤형 이벤트 제공</td>
						</tr>
						<tr>
							<td class="bg">잡지형 앨범</td>
							<td>스냅 50P</td>
							<td class="fw">제공</td>
							<td colspan="3" style="width: 50%; background: #6b8331; color: #fff; font-weight: normal; text-align: center;">성장사진</td>
						</tr>
						<tr>
							<td rowspan="4" class="bg">풍선장식<br />
							(헬륨장식)</td>
							<td>무크지 앨범</td>
							<td class="fw">제공</td>
							<td class="bg">사진</td>
							<td>11R</td>
							<td>성장(100일&amp;돌 총2회) 20P</td>
						</tr>
						<tr>
							<td>메인장식</td>
							<td class="fw">제공</td>
							<td class="bg">앨범</td>
							<td>편집압축앨범</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>테이블장식</td>
							<td class="fw">제공</td>
							<td class="bg">편집액자</td>
							<td>10x20</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>입구장식</td>
							<td class="fw">제공</td>
							<td class="bg">포켓액자</td>
							<td>1EA</td>
							<td>제공</td>
						</tr>
						<tr>
							<td rowspan="3" class="bg">보드류</td>
							<td>덕담보드</td>
							<td class="fw">제공</td>
							<td class="bg">열쇠고리</td>
							<td>2EA</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>이벤트보드 / 번호표</td>
							<td class="fw">제공</td>
							<td class="bg">파티션액자</td>
							<td>4단 8매</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>스토리보드</td>
							<td class="fw">제공</td>
							<td class="bg">원본CD</td>
							<td>앨범편집본</td>
							<td>제공</td>
						</tr>
						<tr>
							<td rowspan="3" class="bg">행사비품</td>
							<td>덕담엽서</td>
							<td class="fw">제공(30장)</td>
							<td class="bg">의상</td>
							<td>주인공</td>
							<td>제공</td>
						</tr>
						<tr>
							<td>안내문</td>
							<td class="fw">제공</td>
							<td rowspan="2" class="bg">헤어&amp;<br />
							메이크업</td>
							<td rowspan="2">부모님 제공</td>
							<td rowspan="2">1회제공</td>
						</tr>
						<tr>
							<td>롤블라인드</td>
							<td style="border-right: 1px solid #6b8331">120cm x 150cm</td>
						</tr>
					</tbody>
				</table>
				<h3>칠순/팔순 잔치</h3>
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="2" style=" padding-left: 0; background: #8ea162; color: #fff; font-weight: normal; border-radius: 4px 0 0 4px; text-align: center; border-bottom-color: #8ea162;">구분</td>
							<td colspan="3" style="padding-left: 0; background: #6b8331; color: #fff; font-weight: normal; border-radius: 0 4px 4px 0; text-align: center;">제공내역</td>
						</tr>
						<tr>
							<td colspan="2" class="bg" width="150px">상차림</td>
							<td width="360px;" class="fw">특상 (실물 5종 포함)</td>
							<td class="bg" width="150px">음악연출</td>
							<td>제공</td>
						</tr>
						<tr>
							<td colspan="2" rowspan="2" class="bg">원판사진</td>
							<td rowspan="2" class="fw">원판 6판</td>
							<td class="bg">사회자</td>
							<td>장소 미제공시 제공</td>
						</tr>
						<tr>
							<td class="bg">진행요원</td>
							<td>전문진행요원제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">스냅사진</td>
							<td class="fw">20P</td>
							<td class="bg">이벤트진행</td>
							<td>제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">앨범</td>
							<td class="fw">압축앨범</td>
							<td rowspan="2" class="bg">연출</td>
							<td rowspan="2">꽃문 /&nbsp; 꽃길 / 화룡(장소 미제공시 제공)<br />
							테이블 장식 제공</td>
						</tr>
						<tr>
							<td rowspan="2" class="bg">의상</td>
							<td style="text-align: center; padding-left: 0; color: #6b8331">남</td>
							<td rowspan="2" style="border-right: 1px solid #6b8331">궁중상감봉</td>
						</tr>
						<tr>
							<td style="text-align: center; padding-left: 0; color: #6b8331">여</td>
							<td rowspan="3" class="bg">서비스품목</td>
							<td rowspan="3">방명록 / 생화3송이 /장갑3족 /&nbsp; 초대장(100장)<br />
							효도 서약서 제공(장소 미제공시 제공)<br />
							유화식 액자 1R, 16R 총 2EA</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">미용</td>
							<td style="border-right: 1px solid #6b8331">헤어&amp;메이크업 1인 제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">현수막</td>
							<td style="border-right: 1px solid #6b8331">실사 특수 제작</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text">
				<p class="red">※ 해당 서비스는 <em>하나로 결합상조 전용 라이프케어 서비스</em> 입니다. 하나로 멤버십 상조 라이프케어 서비스는 멤버십 상조페이지에서 
				     		별도 확인 바랍니다.</p>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



