<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/why/visualBg.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">더피플라이프</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>더피플라이프</li>
			<li>WHY 더피플라이프</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="why_1" style="height:650px; background: url(../../../asset/front/img/why/why_01_2.png) no-repeat center/cover;">
		<div class="inner" style="text-align:left;">
		<!-- 사이드바 -->
			<aside class="snb">
					<ul>
						<li>WHY 더피플라이프</li>
						<li><a href="/sub/why">신뢰/안정/성장</a></li>
						<li><a href="/sub/funeral" class="on">프리미어 장례서비스</a></li>
					</ul>
			</aside>
			<h2 style="text-align:center; padding-bottom:14px;">WHY <em>더피플라이프</em></h2>
			<img src="../../../asset/front/img/why/why_06.png" style="dispaly:bolck; margin:72px 0 0;"  alt="장례특화서비스- 생업에 전념하시고 모든 장례절차는 저희가 가족처럼 모시겠습니다.">
			</div>
	</section>
	<section class="why_2">
		<ul class="inner">
			<li>
				<h2 style="padding-bottom: 10px;">장의 버스 + 리무진 거리 제한없이</h2>
				<img src="../../../asset/front/img/why/why_07.png" alt="">
				<p style="color: #000; font-size: 18px; font-weight: normal; margin: 30px 0 0;">타 상조업체 : 장의 버스 + 리무진 <em>200km ~ 400km 거리 제한</em><br>장례업체 : <em>최대 160만원 추가 요금 발생</em> 가능</p>
			</li>		
		</ul>
	</section>
	<section class="why_3">
		<ul class="inner">
			<li><img src="../../../asset/front/img/why/why_08.png" alt=""></li>
		</ul>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



