<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/card/visualBg.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">제휴카드</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>제휴카드</li>
			<li>하나카드</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="card">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>제휴카드</li>
					<li><a href="#" class="on">하나카드</a></li>
					<li><a href="#">롯데카드</a></li>
				</ul>
			</aside>
			<div class="tit">
				<img src="../../../asset/front/img/card/tit.png" alt="더피플라이프X하나카드">
				<a href="https://www.hanacard.co.kr/OPI42000000D.web?_frame=no&CD_PD_SEQ=11575" target="_blank"><img src="../../../asset/front/img/card/btn.png" alt="카드신청"></a>
			</div>
			<div class="tableBox">
				<h2>하나카드 주요혜택</h2>
				<table cellspacing="0" border="0">
					<tr><td colspan="3" class="th">주요 혜택 ①</td></tr>
					<tr>
						<td width="270px" style="color: #4cbaae">무이자 할부</td>
						<td class="text"><span> · </span>더피플라이프 서비스 또는 상품 결제 시</td>
						<td style="color: #4cbaae">최대 36개월<br>무이자 할부 가능</td>
					</tr>
				</table>
				<table cellspacing="0" border="0" class="b">
					<tr><td colspan="3" class="th">주요 혜택 ②</td></tr>
					<tr>
						<td width="270px">하나머니 적립</td>
						<td class="text"><span> · </span>지역쇼핑, 주유(LPG충전 포함), 온라인쇼핑, 통신요금/대중교통<br>&nbsp;&nbsp;&nbsp;해외사용금액 10만원 이용할 때마다</td>
						<td style="text-align: left">월 최대 <em>4만 머니</em></td>
					</tr>
					<tr>
						<td>아파트 관리비</td>
						<td class="text"><span> · </span>아파트관리비 자동이체 금액 10만원 이상 시</td>
						<td style="text-align: left">월 최대 <em>3만 머니</em></td>
					</tr>
					<tr>
						<td>리프레시 서비스</td>
						<td class="text"><span> · </span>KEB하나은행 계좌고객 월 1회 스타벅스/커피빈에서</td>
						<td style="text-align: left">월 최대 <em>6천원 할인</em></td>
					</tr>
					<tr>
						<td>하나멤버스</td>
						<td class="text"><span> · </span>하나금융그룹에서 제공하는 멤버십 서비스 이용 가능</td>
						<td></td>
					</tr>
				</table>
				<p>※ 기준 : 전월 실적 30만원/60만원 (자세한 카드 혜택 및 기준 안내는 하나카드 홈페이지 참조)<br>
				※ 카드 발급 유선 신청 : 1800-3000</p>
				<h2>하나머니 가이드</h2>
				<ul>
					<li class="bg">하나은행 ATM을 통해 현금으로 출금 가능</li>
					<li><span> · </span>대상 : 1만 하나머니 이상 보유한 회원</li>
					<li class="bg b">본인 계좌로 현금 입금 가능</li>
					<li><span> · </span>대상 : 1만 하나머니 이상 보유한 회원</li>
					<li class="bg">친구나 지인에게 송금하기 가능</li>
					<li><span> · </span>하나멤버스 모바일 앱 네뉴 중, ‘보내요&주세요’를 통해 친구나 가족 등에게 하나머니를 보낼 수 있으며<br>반대로 지인에게 송금받는 것도 가능합니다.</li>
					<li class="bg b">카카오머니 등의 제휴 포인트와 교환 가능</li>
					<li><span> · </span>OK캐쉬백, 카카오머니 등의 포인트를 하나머니로 전환<br>
						<span> · </span>하나머니를 TV 포인트, SSG머니 등으로 전환</li>
					<li class="bg">너무나 쉬운 포인트 결제 방식</li>
					<li><img src="../../../asset/front/img/card/bottom.png" alt=""></li>
				</ul>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



