<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/landing.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/slick.min.js"></script>
</head>
<body>
	<div class="wrap">
		<div class="top">
			<img src="../../../asset/landimg/front/new/s/img_01.png" alt="" width="100%">
			<div class="inner">
				<h2><img src="../../../asset/landimg/front/new/s/img_02.png" alt="" width="100%"></h2>
				<h2><img src="../../../asset/landimg/front/new/s/img_03.png" alt="" width="100%"></h2>
				<p><img src="../../../asset/landimg/front/new/s/img_04.png" alt="" width="100%"></p>
			</div>
		</div>
		<div class="top2">
			<div class="inner">
				<ul>
					<li>꽉꽉 찬 김치냉장고 답답하시죠?</li>
					<li>비싸다고 렌탈하세요?</li>
					<li>미세먼지에 집안도 답답하시죠?</li>
					<li>10년 넘게 쓴 가전 A/S도 힘드시죠?</li>
				</ul>
			</div>
		</div>		
		<div class="top3">
				<h2><img src="../../../asset/landimg/front/new/s/img_06.png" alt="렌탈? VS 하나로!"></h2>
				<div class="inner">
					<img src="../../../asset/landimg/front/new/s/img_07.png" alt="" width="100%">
                        <div class="graph">
                                <ul>
                                    <li>렌탈</li>
                                    <li>'렌탈비 월 납입'</li>
                                    <li><img src="../../../asset/landimg/front/new/s/img_10.png" alt="내꺼!"></li>
                                    <li><img src="../../../asset/landimg/front/new/s/img_11.png" alt="환급금0원"></li>
                                </ul>
                            </div>
                        <div class="graph2">
                                <ul>
                                    <li><img src="../../../asset/landimg/front/new/s/img_17.png" alt="하나로"></li>
                                    <li>'상조부금 월 납입'<br><span>+ 회원전용 혜택 <b>2종</b></span></li>
                                    <li><img src="../../../asset/landimg/front/new/s/img_12.png" alt="내꺼!"></li>
                                    <li><img src="../../../asset/landimg/front/new/s/img_13.png" alt="만기시 100%전액환급!" style="animation: imgg2 linear 1.8s 0s infinite;"></li>
                                </ul>
                            </div>
				</div>
				<h2 style="margin: 70px 0 40px;"><img src="../../../asset/landimg/front/new/s/img_14.png" alt=""></h2>
				<div class="box">
					<img src="../../../asset/landimg/front/new/s/img_15.png" alt="">
					<p class="vs"><img src="../../../asset/landimg/front/new/s/img_09.png" alt=""></p>
				</div>
		</div>		
		<div class="con"><img src="../../../asset/landimg/front/new/s/img_18.png" alt=""></div>
		<div class="con a">
			<h2><img src="../../../asset/landimg/front/new/s/img_19.png" alt="하나로하면 라이프케어 서비스를 내맘대로!"></h2>
			<ul class="life">
				<li class="animate" data-animate="fadeInUp2" data-duration="0.6s" data-delay="0s"><img src="../../../asset/landimg/front/new/s/img_20.png" alt="상조서비스"></li>
				<li class="animate" data-animate="fadeInUp2" data-duration="0.8s"><img src="../../../asset/landimg/front/new/s/img_21.png" alt="크루즈여행"></li>
				<li class="animate" data-animate="fadeInUp2" data-duration="1s"><img src="../../../asset/landimg/front/new/s/img_22.png" alt="웨딩서비스"></li>
				<li class="animate" data-animate="fadeInUp2" data-duration="1.1s"><img src="../../../asset/landimg/front/new/s/img_23.png" alt="축일서비스"></li>
			</ul>
			<p><img src="../../../asset/landimg/front/new/s/img_24.png" alt=""></p>
			<h2><img src="../../../asset/landimg/front/new/s/img_25.png" alt="하나로하면 회원전용 혜택도 내맘대로!"></h2>
			<p class="animate" data-animate="fadeIn" data-duration="1s"><img src="../../../asset/landimg/front/new/s/img_26.png" alt=""></p>
		</div>
		<div class="con b">
			<div class="inner">
				<div class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/front/new/s/img_27.png" alt=""></div>
				<div>
					<p class="animate" data-animate="fadeInDown" data-duration="0.4s"><img src="../../../asset/landimg/front/new/s/img_28.png" alt=""></p>
					<p class="animate" data-animate="fadeInDown" data-duration="0.5s"><img src="../../../asset/landimg/front/new/s/img_29.png" alt=""></p>
					<p class="animate" data-animate="fadeInDown" data-duration="0.6s"><img src="../../../asset/landimg/front/new/s/img_30.png" alt=""></p>
				</div>
			</div>
		</div>
		<div class="con c">
			<img src="../../../asset/landimg/front/new/s/img_31.png" alt="">
			<div>
				<p class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/front/new/s/img_32.png" alt=""></p>
				<p class="animate" data-animate="fadeIn" data-duration="1.5s"><img src="../../../asset/landimg/front/new/s/img_33.png" alt=""></p>
				<p class="animate" data-animate="fadeIn" data-duration="1.2s"><img src="../../../asset/landimg/front/new/s/img_34.png" alt=""></p>
			</div>
		</div>
		<div class="con d">
			<div class="tit">
				<span class="animate" data-animate="sc" data-duration="0.35s"><img src="../../../asset/landimg/front/new/s/img_35.png" alt=""></span>
				<h2 class="animate" data-animate="ani1" data-duration="0.8s"><img src="../../../asset/landimg/front/new/s/img_36.png" alt=""></h2>
				<h3 class="animate" data-animate="fadeIn2" data-duration="1.5s"><img src="../../../asset/landimg/front/new/s/img_38.png" alt=""></h3>
				<p class="animate" data-animate="fadeIn3" data-duration="1s"><img src="../../../asset/landimg/front/new/s/img_37.png" alt=""></p>
			</div>
			<div class="box animate" data-animate="fadeIn" data-duration="2s">
				<div class="inner">
					<ul class="slide">
						<li>
							<span><img src="../../../asset/landimg/front/new/s/img_p1.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p2.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p3.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p4.png" alt=""></span>
						</li>
						<li>
							<span><img src="../../../asset/landimg/front/new/s/img_p5.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p6.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p7.png" alt=""></span>
							<span><img src="../../../asset/landimg/front/new/s/img_p8.png" alt=""></span>
						</li>
					</ul>
					<img src="../../../asset/landimg/front/new/s/img_42.png" alt="">
				</div>
			</div>
			<img src="../../../asset/landimg/front/new/s/img_39.png" alt="">
		</div>
		<div class="con e"><img src="../../../asset/landimg/front/new/s/img_44.png" alt=""></div>
		<div class="con f"><img src="../../../asset/landimg/front/new/s/img_45.png" alt=""></div>
	</div><!--//wrap-->
<script>
    var scrollTop = 0;
    scrollTop = $(document).scrollTop();
    ani('div.top, .top3 .inner, .top3 .box');

    $(window).on('scroll resize', function() {
        scrollTop = $(document).scrollTop();
        ani('div.top, .top3 .inner, .top3 .box');
    });

    function ani(selector) {
        $(selector).each(function() {
            var $selector = $(this);
            var minShow = $selector.offset().top - $(window).height();
            var maxShow = $selector.offset().top + $selector.outerHeight();
            $selector.removeClass('down on up');
            if (scrollTop < minShow) {$selector.addClass('down');} 
			else if (scrollTop > maxShow) { $selector.addClass('up');} 
			else {$selector.addClass('on');}
        });
    }  
	//스크롤애니
	$('.animate').scrolla({
		mobile: false, 
		once: false 
	}); 
//슬라이드
    $(function() {
        $(".slide").slick({
            arrows: true, //화살표
            dots: false, //인디케이터 해제
            autoplay: true, //자동재생
            autoplaySpeed: 5000, //재생시간
            pauseOnHover:false, //마우스 오버, 포커스시 멈추는것 해제
		    pauseOnFocus:false,
			fade:true
        });
    }); 	
</script>
</body>
</html>		



