<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/life/visualBg_01.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">라이프케어</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>라이프케어</li>
			<li>상조서비스</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="life">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>라이프케어</li>
					<li><a href="#" class="on">상조서비스</a></li>
					<li><a href="#">크루즈서비스</a></li>
					<li><a href="#">웨딩서비스</a></li>
					<li><a href="#">축일서비스</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/life/life_01.png" alt="상조서비스- 가시는 분께 마지막까지 품위를 보내시는 분께는 감동을 전해드리는 더피플라이프가 있습니다."></h2>
			<div class="table">
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="3" style="background: #8ea162; color: #fff; font-weight: normal; border-radius: 4px 0 0 4px; text-align: center; border-bottom-color:  #8ea162">구분</td>
							<td style="background: #6b8331; color: #fff; font-weight: normal; border-radius: 0 4px 4px 0; text-align: center;">제공내역</td>
						</tr>
						<tr>
							<td rowspan="6" class="th">특화서비스<br />
							(제공)</td>
							<td class="bg">고인용품</td>
							<td>유골함(각인비별도)</td>
							<td>화장시 제공</td>
						</tr>
						<tr>
							<td class="bg">입관용품</td>
							<td>꽃염(입관)</td>
							<td>선택</td>
						</tr>
						<tr>
							<td class="bg">빈소용품</td>
							<td>LED영정(설치가능장소만)</td>
							<td>대여</td>
						</tr>
						<tr>
							<td class="bg">부고서비스</td>
							<td>모바일 부고서비스</td>
							<td>모바일부고발송(요청시)</td>
						</tr>
						<tr>
							<td class="bg">기일안내 서비스</td>
							<td>기일안내서비스(문자발송)</td>
							<td>요청시</td>
						</tr>
						<tr>
							<td class="bg">추모서비스(요청시)</td>
							<td>인터넷 추모관 및 추모영상</td>
							<td>인터넷 추모전용공간제공<br />
							(고인 추모영상, 추모글 조회/작성등)</td>
						</tr>
						<tr>
							<td rowspan="4" class="th">장례인력<br />
							지원</td>
							<td class="bg">의전관리사</td>
							<td></td>
							<td>4명</td>
						</tr>
						<tr>
							<td class="bg">의전전문지도사</td>
							<td></td>
							<td>2명</td>
						</tr>
						<tr>
							<td class="bg" >종교별궁중대렴</td>
							<td></td>
							<td>종교별(기독교, 불교, 천주교, 일반식 등)</td>
						</tr>
						<tr>
							<td class="bg" >전국무료장례코치</td>
							<td></td>
							<td>전국어디서나 무료컨설팅 &nbsp;제공</td>
						</tr>
						<tr>
							<td rowspan="5" class="th">의전차량 및<br />
							꽃장식지원</td>
							<td class="bg">고인전용리무진(화장시 화장장까지)</td>
							<td></td>
							<td rowspan="2">전국무료</td>
						</tr>
						<tr>
							<td class="bg">유족전용버스</td>
							<td style="border-right: 1px solid #6b8331"></td>
						</tr>
						<tr>
							<td class="bg" >앰뷸런스</td>
							<td></td>
							<td>관내(무료제공)/관외(실비부담)</td>
						</tr>
						<tr>
							<td class="bg" >제단장식</td>
							<td></td>
							<td>기본제단 또는 20만원지원</td>
						</tr>
						<tr>
							<td class="bg" >꽃바구니 / 헌화꽃</td>
							<td></td>
							<td>고급꽃바구니2개 / 국화30송이</td>
						</tr>
						<tr>
							<td rowspan="3" class="th">고인용품</td>
							<td class="bg">관</td>
							<td></td>
							<td>오동나무관2~3cm(화장시)<br>3.81~4.5cm(매장시)</td>
						</tr>
						<tr>
							<td class="bg" >수의</td>
							<td></td>
							<td>명품수의고급대마100%</td>
						</tr>
						<tr>
							<td class="bg" >염베</td>
							<td></td>
							<td>삼베2필(마100%)</td>
						</tr>
						<tr>
							<td rowspan="3" class="th">의전용품</td>
							<td class="bg">전통식</td>
							<td>굴건제복,복조끼,바지저고리등</td>
							<td>직계상주</td>
						</tr>
						<tr>
							<td class="bg" rowspan="2">현대식</td>
							<td>검정양복(대여)</td>
							<td>5벌</td>
						</tr>
						<tr>
							<td>여상복(개량한복)</td>
							<td>5벌</td>
						</tr>
						<tr>
							<td class="th">안내서비스</td>
							<td class="bg">행정절차안내서비스</td>
							<td></td>
							<td>각종행정절차대행</td>
						</tr>
						<tr>
							<td rowspan="2" class="th">대체서비스</td>
							<td class="bg">수의준비시</td>
							<td></td>
							<td>유골함또는 고급관보<br />
							의전관리사1명으로 대체가능</td>
						</tr>
						<tr>
							<td class="bg">의전관리사</td>
							<td></td>
							<td>1명당 1회용품 100인분으로 대체가능</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text">
				<p>
					- 서비스제공지역:도서산간지역을 제외한 전국<br>
					- 상조서비스 표준약관에 의해 환급금은 회원의 신청접수일로부터 3영업일이내환급함 <br>
					- 차량은 지역(지형)사정에 따라 변경될수있습니다. 2017년이상 또는 동급(수준)으로 대체될수 있습니다. <br>
					- 관:원산지(중국) 제조지역:한국 / 수의원단(원사):원산지(중국) / 수의원단 제조지역:한국 / 수의완제품제조지:㈜부성기업(서울) / 직조방법:기계직 <br>
					- 의전전문지도사는 행사2일차 1인 8시간 제공됩니다. <br>
					- 지정품목 외에 추가(선택)품목.수량을 회원이 원할경우 추가부담
				</p>
				<p class="red">※ 해당 서비스는 <em>하나로 결합상조 전용 라이프케어 서비스</em> 입니다. 하나로 멤버십 상조 라이프케어 서비스는 멤버십 상조페이지에서 
				     		별도 확인 바랍니다.</p>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



