<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/card/visualBg.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">제휴카드</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>제휴카드</li>
			<li>롯데카드</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="card l">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>제휴카드</li>
					<li><a href="#">하나카드</a></li>
					<li><a href="#" class="on">롯데카드</a></li>
				</ul>
			</aside>
			<div class="tit">
				<img src="../../../asset/front/img/card/tit2.png" alt="더피플라이프X하나카드">
				<a href="#"><img src="../../../asset/front/img/card/btn2.png" alt="카드신청"></a>
			</div>
			<div class="tableBox">
				<h2>청구할인 조건</h2>
				<table cellspacing="0" border="0">
					<tr>
						<td class="th" width="25%">전월 실적</td>
						<td class="th" width="25%" style="background: #ab5050; border-left: 1px solid #ab5050;">청구할인 금액</td>
						<td class="th" style=" border-left: 1px solid #ab5050;">비고</td>
					</tr>
					<tr>
						<td>30만원</td>
						<td class="bg">1만 3천원</td>
						<td rowspan="3" style="text-align: left; border-left: 1px solid #8a6960;" class="text">
							<h3>※ 전월 실적 미포함 사항</h3>
							롯데제휴카드로 할인 받은 이용금액 (제휴할인가맹점 이용금액),<br>
							가족카드 매출, 카드 특화서비스 적용매출, 세금/4대보험/공공요금,<br> 
							단기카드대출(현금서비스), 장기카드대출(카드론), 해외매출<br><br>
							<h3>※ 연회비 : 5,000원</h3>
						</td>
					</tr>
					<tr>
						<td>70만원</td>
						<td class="bg">1만 5천원</td>
					</tr>
					<tr>
						<td>120만원</td>
						<td class="bg">2만원</td>
					</tr>
				</table>
				<h2>기본혜택</h2>
				<table cellspacing="0" border="0" class="b">
					<tr>
						<td class="th" width="35%" style="background: #ab5050;">포인트 적립</td>
						<td class="th" colspan="2">롯데 계열사 서비스</td>
					</tr>
					<tr>
						<td rowspan="7" style="background: #fafafa;">
							L.POINT 제휴사  이용시<br>
							제휴사의 적립기준에 따라<br>
							<span>0.1%~5% 추가적립</span>
						</td>
						<td class="bg" width="15%">① 쇼핑</td>
						<td class="text">· 롯데백화점 5%할인 e쿠폰 / 2~3개월 무이자할부 / 무료주차권<br>
						· 롯데마트/수퍼 2~3개월 무이자할부/롯데닷컴 5%할인<br>
						· 롯데면세점 5~15%할인</td>
					</tr>
					<tr>
						<td class="bg">② 레져</td>
						<td class="text">· 롯데월드 자유이용권 50% 할인 / 서울랜드 40% 할인<br>
						· 통도환타지아/경주월드/대전오월드/광주패밀리 랜드 50% 할인</td>
					</tr>
					<tr>
						<td class="bg">③ 여행</td>
						<td class="text">· 해외항공권 1~7%할인 + 3개월무이자 / 해외호텔,렌터카 할인</td>
					</tr>
					<tr>
						<td class="bg">④ 외식</td>
						<td class="text">· TGIF/보네스뻬 10%할인</td>
					</tr>
					<tr>
						<td class="bg">⑤ 공연</td>
						<td class="text">· 뮤지컬/연극 10~30% 할인</td>
					</tr>
					<tr>
						<td class="bg">⑥ 미용</td>
						<td class="text">· 박준뷰티랩 20%할인 / 박승철 헤어 15% 할인</td>
					</tr>
					<tr>
						<td class="bg">⑦ 스포츠</td>
						<td class="text">· 롯데자이언츠 입장료 20% 할인 (부산사직구장/마산구장)</td>
					</tr>
				</table>
				<h2>특별혜택</h2>
				<table cellspacing="0" border="0" class="b c">
					<tr>
						<td rowspan="6" style="background: #fafafa; border-top: 1px solid #8a6960" width="35%">
							더피플라이프 회원전용 쇼핑몰<br>
							구매실적 혜택<br>
							<span>(5~6% 매월 현금 캐시백)</span>
						</td>
						<td class="th" width="32.5%">전월 구매실적</td>
						<td class="th" colspan="2" style="background: #ab5050;">캐시백(현금)</td>
					</tr>
					<tr>
						<td class="bg" width="15%">10만원</td>
						<td class="text">5,000원</td>
					</tr>
					<tr>
						<td class="bg">30만원</td>
						<td class="text">16,900원</td>
					</tr>
					<tr>
						<td class="bg">70만원</td>
						<td class="text">44,900원</td>
					</tr>
					<tr>
						<td class="bg">100만원</td>
						<td class="text">59,900원</td>
					</tr>
					<tr>
						<td class="bg">120만원</td>
						<td class="text">69,900원</td>
					</tr>
				</table>
				<p>※ 하단 신청버튼을 통해 제휴카드 신청이 가능하며, 상담전화 접수 시 요청주시면 가입 URL을 핸드폰 문자로 발송드립니다.<br>
				※ 청구할인 혜택과 쇼핑몰 캐시백 혜택이 중복 인정됩니다.</p>
				<a href="#">카드신청<span>></span></a>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



