<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/member/visualBg.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">회원전용혜택</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>더피플라이프</li>
			<li>멤버십 서비스</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="membership">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>회원전용 혜택</li>
					<li><a href="#" class="on">멤버십 서비스</a></li>
					<li><a href="#">회원전용 쇼핑몰</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/member/member_01.png" alt="멤버십 서비스 더피플라이프 회원 누구나 누리는 전국 제휴혜택!"></h2>
			<ul class="list">
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_02.png" alt="숙박"></div>
					<div class="box">
						<h3>전국 펜션, 리조트, 호텔, 레지던스,<br>카라반 등 <em>최대 80%할인</em></h3>
						<p>- 전국 70여곳 메인 펜션 & 리조트& 호텔<br>
						- 200여개의 체인펜션 & 카라반 & 레지던스<br>
						- 국내/회의 패키지 여행상품 특가</p>
					</div>
				</li>
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_03.png" alt="스파&워터파크"></div>
					<div class="box">
						<h3>스파&워터파크<br><em>최대 60%할인</em></h3>
						<p>- 전국 유명 스파 & 워터파크 할인 적용</p>
					</div>
				</li>
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_04.png" alt="골프"></div>
					<div class="box">
						<h3>프리미엄 골프장<br><em>부킹할인</em></h3>
						<p>- 전국 20여곳 회원제 프리미엄 골프장 할인부킹</p>
					</div>
				</li>
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_05.png" alt="컬쳐"></div>
					<div class="box">
						<h3>콘서트, 연극, 뮤지컬, 영화예매등<br><em>30~80%할인</em></h3>
						<p>- 매달 뮤지컬 & 콘서트 초대공연 진행<br>
						- 대학로 뮤지컬 상시 할인<br>
						- 영화예매권 상시 할인</p>
					</div>
				</li>
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_06.png" alt="레포츠"></div>
					<div class="box">
						<h3>수상스키, 레프팅, 클레이사격,<br>ATV, 스키 등 <em>최대 60%할인</em></h3>
						<p>- 하계/동계 계절 레져 할인<br>
						- 전국 4개 마리나 요트 할인<br>
						- 피트니스 이용 할인</p>
					</div>
				</li>
				<li>
					<div class="img"><img src="../../../asset/front/img/member/member_07.png" alt="라이프 생활편의서비스"></div>
					<div class="box">
						<h3>생활&건강<br><em>특별 할인</em></h3>
						<p>- 장기렌트카 & 꽃배달 & 금융 등 생활 혜택<br>
						- 웨딩 & 상조 회원 할인가<br>
						- 폐쇄몰로 운영되는 전국 최저가 쇼핑몰</p>
					</div>
				</li>
			</ul>
			<p class="red">※ 상품 가입 후, 개별문자를 통해 가입절차 안내 및 가입 PIN번호를 전송드립니다.<br>
			※ 더피플라이프 하나로 가입 시 5년 간 멤버십서비스 이용 가능합니다. </p>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



