<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/faq.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">고객센터</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>고객센터</li>
			<li>공지사항</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="noticeView">
		<div class="inner">
			<h2>공지사항</h2>	
			<div class="board_view">
				<table cellspacing="0">
					<tr>
						<th>
							교원그룹, LG전자-신한카드와 공동 마케팅 협약
							<div class="bdate">2016.09.12 &nbsp; | &nbsp; 조회 100</div>
						</th>
					</tr>
					<tr class="noline">
						<td>
							<img src="../../../asset/front/img/boxBg.png" /><br/>
							교원그룹은 가족 장례를 미리 준비하고자 상조 상품을 이용하는 고객들에게 보다 많은 혜택을 제공하기 위해 오는 9월부터 LG전자, 신한카드와 공동 마케팅을 시작한다고 26일 밝혔다. 이를 위해 3개사는 지난 25일 신한카드 본사에서 전략적 제휴를 위한 협약을 체결했다.


						</td>
					</tr>
				</table>
			</div>
			<div class="board_view_list">
				<table cellspacing="0">
					<colgroup>
						<col width="140px" />
						<col width="" />
					</colgroup>
					<tr>
						<th>이전글</th>
						<td><a href="">노스 이벤트구노스 이벤트구노스 이벤트구노스 이벤트구노스 이벤트</a></td>
					</tr>
					<tr>
						<th>다음글</th>
						<td><a href="">노스 이벤트구노스 이벤트구노스 이벤트구노스 이벤트구노스 이벤트</a></td>
					</tr>
				</table>			
			</div>
			<div class="btns R">
				<a href="" class="btn_list">목록</a>
			</div>
		</div>
	</section>
</div><!--//wrap-->
</body>
</html>		



