<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/member/visualBg.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">회원전용혜택</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>더피플라이프</li>
			<li>회원전용 쇼핑몰</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="shopping">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>회원전용 혜택</li>
					<li><a href="#">멤버십 서비스</a></li>
					<li><a href="#" class="on">회원전용 쇼핑몰</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/member/member_08.png" alt="회원전용 쇼핑몰- 100여개 온/오프라인 베스트셀러 상품을 최저가로 구매할 수 있는 쇼핑몰!"></h2>
			<h3>더피플라이프 회원에게만 드리는 특별 혜택</h3>
			<h4>구매액의 <em>5~6%</em>를 매월 <em>현금 캐시백!</em></h4>
			<ul class="list">
				<li><img src="../../../asset/front/img/member/member_09.png" alt=""></li>
				<li>
					<table cellspacing="0" border="0">
						<tr>
							<td style="background: #6b8331; color: #fff; font-weight: normal; border-radius: 4px 0 0 4px;">전월 구매실적</td>
							<td style="background: #8ea162; color: #fff; font-weight: normal; border-radius: 0 4px 4px 0;">캐시백(현금)</td>
						</tr>
						<tr>
							<td class="a">10만원</td>
							<td class="b">5,000원</td>
						</tr>
						<tr>
							<td class="a">30만원</td>
							<td class="b">16,900원</td>
						</tr>
						<tr>
							<td class="a">70만원</td>
							<td class="b">44,900원</td>
						</tr>
						<tr>
							<td class="a">100만원</td>
							<td class="b">59,900원</td>
						</tr>
						<tr>
							<td class="a">120만원</td>
							<td class="b">69,900원</td>
						</tr>
					</table>
					<span>[ 카드 실적 청구할인 혜택 중복 적용 가능 ]</span>
				</li>
			</ul>
			<p class="red">※ 더피플라이프 하나로 고객 대상 가입 및 혜택을 위한 추천코드가 별도 안내됩니다.<br>
			※ 더피플라이프X롯데카드 제휴카드를 통한 결제실적에 따라 캐시백 혜택이 지급됩니다. (자세한 내용 제휴카드 페이지 참조)</p>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



