<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/front/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<!-- 서브 탑 -->
	<section class="subVisual">
		<p class="img animate" data-animate="img" data-duration="10s" data-delay="0s"><img src="../../../asset/front/img/life/visualBg_01.png" alt=""></p>
		<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s">라이프케어</h2>
	</section>
	<section class="location">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>라이프케어</li>
			<li>웨딩서비스</li>
		</ul>
	</section>
	<!-- 내용시작 -->
	<section class="life wedding">
		<div class="inner">
			<!-- 오른쪽 사이드바 -->
			<aside class="snb">
				<ul>
					<li>라이프케어</li>
					<li><a href="#">상조서비스</a></li>
					<li><a href="#">크루즈서비스</a></li>
					<li><a href="#" class="on">웨딩서비스</a></li>
					<li><a href="#">축일서비스</a></li>
				</ul>
			</aside>
			<h2><img src="../../../asset/front/img/life/life_03.png" alt="웨딩서비스- 평생 기억에 남을 행복한 웨딩을 위해 최적의 서비스를 제공해드리는 더피플라이프가 있습니다."></h2>
			<div class="table">
				<table border="0" cellpadding="0" cellspacing="0">
					<tbody>
						<tr>
							<td colspan="3" style="background: #8ea162; color: #fff; font-weight: normal; border-radius: 4px 0 0 4px; text-align: center; border-bottom-color: #8ea162">구분</td>
							<td style="width: 50%; background: #6b8331; color: #fff; font-weight: normal; border-radius: 0 4px 4px 0; text-align: center;">제공내역</td>
						</tr>
						<tr>
							<td rowspan="21" class="th">본식</td>
							<td colspan="2" class="bg">웨딩드레스</td>
							<td>최고급드레스</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">예복</td>
							<td>연미복, 턱시도 중 택 1</td>
						</tr>
						<tr>
							<td rowspan="2" class="bg">사진</td>
							<td class="bg">원판사진</td>
							<td>11R 10P</td>
						</tr>
						<tr>
							<td class="bg">스냅사진</td>
							<td>11R 20P</td>
						</tr>
						<tr>
							<td rowspan="2" class="bg">앨범</td>
							<td class="bg">신랑, 신부용</td>
							<td>고급 앨범 1권(원판스냅합본)</td>
						</tr>
						<tr>
							<td class="bg">양가혼주용</td>
							<td>고급 앨범 2권</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">비디오</td>
							<td>DVD 3개</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">헤어,메이크업</td>
							<td>신랑, 신부 제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">부케</td>
							<td>최고급 부케</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">웨딩카 장식</td>
							<td>제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">케이크 연출</td>
							<td>실물1단 (장소 미제공시 제공)</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">서비스 품목</td>
							<td>혼인서약서, 성혼선언문, 방명록 2권, 장갑 7족, 부토니아, 코사지</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">폐백의상</td>
							<td>궁중상감복 (장소 미제공시 제공)</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">이벤트 기획</td>
							<td>당신만의 특별한 웨딩을 만들어 드립니다<br />
							(맞춤기획)</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">에어건서비스</td>
							<td>필요시 제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">의상대여</td>
							<td>꽃문, 꽃길, 화룡, 촛대, 단상, 물방울, 물안개<br />
							(장소 미제공시 제공)</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">사진편집영상</td>
							<td>전문행사인원 파견</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">기본 기획연출</td>
							<td>꽃문, 꽃길, 화룡, 촛대, 단상, 물방울, 물안개<br />
							(장소 미제공시 제공)</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">전문 진행요원</td>
							<td>전무행사인원 파견</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">웨딩컨설팅</td>
							<td>장소섭외부터 허니문까지</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">헬퍼비</td>
							<td>본식 헬퍼비 포함</td>
						</tr>
						<tr>
							<td rowspan="6" class="th">리허설 촬영</td>
							<td colspan="2" class="bg">헤어, 메이크업</td>
							<td>신랑, 신부 제공</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">드레스(대여)</td>
							<td>메인드레스2, 파티드레스1, 미니드레스1</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">예복(대여)</td>
							<td>턱시도 3벌</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">앨범</td>
							<td>11R 30P 1권</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">액자</td>
							<td>24R 라메르 4종 액자</td>
						</tr>
						<tr>
							<td colspan="2" class="bg">헬퍼비</td>
							<td>촬영 헬퍼비 포함</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="text">
				<p class="red">※ 해당 서비스는 <em>하나로 결합상조 전용 라이프케어 서비스</em> 입니다. 하나로 멤버십 상조 라이프케어 서비스는 멤버십 상조페이지에서 
				     		별도 확인 바랍니다.</p>
			</div>
		</div>
	</section>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



