<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../asset/front/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../asset/front/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../asset/front/js/jquery-3.3.1.min.js"></script>
    <script src="../../asset/front/js/scrolla.jquery.min.js"></script>
    <script src="../../asset/front/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
    <!-- header -->
    <header>
        <div class="innerHeader">
        	<a href="\" class="logo"><img src="../../asset/front/img/logo.png" alt="더피플라이프 하나로"></a>
        	<!-- gnb -->
        	<nav>
        		<ul class="gnb">
        			<li><a href="#">더피플라이프</a>
        				<ul class="inner">
        					<li><a href="#">WHY 더피플라이프</a></li>
        				</ul>
        			</li>
        			<li><a href="#">상품 안내</a>
        				<ul class="inner">
        					<li><a href="#">하나로 멤버십상조</a></li>
        					<li><a href="#">하나로 결합상조</a></li>
        				</ul>
        			</li>
        			<li><a href="#">라이프케어</a>
        				<ul class="inner">
        					<li><a href="#">상조 서비스</a></li>
        					<li><a href="#">크루즈 서비스</a></li>
        					<li><a href="#">웨딩 서비스</a></li>
        					<li><a href="#">축일 서비스</a></li>
        				</ul>
        			</li>
        			<li><a href="#">회원전용혜택</a>
        				<ul class="inner">
        					<li><a href="#">멤버십서비스</a></li>
        					<li><a href="#">회원전용 쇼핑몰</a></li>
        				</ul>
        			</li>
        			<li><a href="#">제휴카드</a>
        				<ul class="inner">
        					<li><a href="#">더피플라이프X하나카드</a></li>
        					<li><a href="#">더피플라이프X롯데카드</a></li>
        				</ul>
        			</li>
        			<li><a href="#">고객센터</a>
        				<ul class="inner">
        					<li><a href="#">상담신청</a></li>
        					<li><a href="#">공지사항</a></li>
        					<li><a href="#">FAQ</a></li>
        				</ul>
        			</li>
        		</ul>
        	</nav>
        </div>
    </header>
	<!--  sideBar  -->
    <!--aside class="sideBar">
    	<div class="top"><img src="../../asset/front/img/bar/main_top.png" alt="빠른상담: 1668-1741"></div>
    	<div class="banner"><img src="../../asset/front/img/bar/main_banner.png" alt="하나로 가입하면, 고품격 상품이 집으로 배송!"></div>
    	<div class="form">
    		<input type="text" name="" placeholder="이름">
    		<input type="text" name="" placeholder="연락처('-'제외)">
			<select name="" id="">
							<option value="">상담시간 선택</option>
							<option value="09:00~10:00">09:00~10:00</option>
							<option value="10:00~12:00">10:00~12:00</option>
							<option value="12:00~14:00">12:00~14:00</option>
							<option value="14:00~16:00">14:00~16:00</option>
							<option value="16:00~18:00">16:00~18:00</option>
							<option value="18:00~20:00">18:00~20:00</option>
            </select>    
            <button><img src="../../asset/front/img/bar/main_btn.png" alt="하나로신청하기"></button>		
    	</div>
    </aside-->
    <!-- mainVisual -->    
    <section class="mainVisual">
    	<h2><img src="../../asset/front/img/mainTitle.png" alt="당신의 더 감동적인 라이프를 위한 더피플라이프 하나로"></h2>
    	<ul class="iconBox">
    		<li class="animate" data-animate="fadeInUp" data-duration="0.6s" data-delay="0s"><a href="#">
    			<h3>LG,삼성 등 브랜드 가전<span>선택하면 내집으로 배송</span></h3>
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.6s" data-delay="0s"><a href="#">
    			<h3>매월 2만원 할인<span>제휴할인으로 부담없이 이용</span></h3>
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.6s" data-delay="0s"><a href="#">
    			<h3>100% 만기환급<span>할인받아도 상품전액 환급!</span></h3>
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.8s" data-delay="0s"><a href="#">
    			<h3>상조/크루즈/웨딩/축일<span>언제든 필요할때 전환 사용</span></h3>
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.8s" data-delay="0s"><a href="#">
    			<h3>멤버십 혜택<span>전국 1300여개 제휴시설 혜택</span></h3>
    		</a></li>
    	</ul>
    	<a href="#">상담신청 <span>></span></a>
    </section>
    <section class="card">
    	<h2><img src="../../asset/front/img/cardTitle.png" alt="당신의 더 든든한 라이프를 위한 더피플라이프"></h2>
    	<ul class="cardBox">
    		<li class="animate" data-animate="fadeInUp" data-duration="0.7s" data-delay="0s">
    			<p class="txt">월 신규가입자 평균</p>
    			<p class="img"><img src="../../asset/front/img/card1.png" alt=""></p>
    			<h3>1만 <span>건 이상</span></h3>
    		</li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.9s" data-delay="0s">
    			<p class="txt">신용평가</p>
    			<p class="img"><img src="../../asset/front/img/card2.png" alt=""></p>
    			<h3>1등급<span>(9년연속)</span></h3>
    		</li>
    		<li class="animate" data-animate="fadeInUp" data-duration="1.1s" data-delay="0s">
    			<p class="txt">고객후기</p>
    			<p class="img"><img src="../../asset/front/img/card3.png" alt=""></p>
    			<h3>1만<span>여건</span></h3>
    		</li>
    	</ul>
    </section>
    <section class="greenBox">
    	<div class="box animate" data-animate="fadeIn" data-duration="1.5s" data-delay="0s">
    		<h3><span>상조가입이 불안할때</span><br>더피플라이프는 답입니다!</h3>
    		<h4>총 고객 환급의무액보다 상조관련 자산이 더 많은 <span>신뢰의 기업</span></h4>
    		<p>
    			<span>‘대한민국 최고의 경영대상’</span> 2년 연속 수상 (매일경제)<br>
				<span>‘고객이 신뢰하는 브랜드대상’</span> 2년 연속 수상 (한경비즈니스)<br>
				<span>‘서울특별시장 우수기업 표창장’</span> 2회 수상<br>
				<span>‘상조보증공제조합 신용평가’</span> 9년 연속 1등급
    		</p>
    	</div>
    </section>
    <section class="cf">
    	<div class="inner">
    		<h2>더피플라이프 <span>CF</span></h2>
    		<div class="cfBox">
    			<iframe width="600" height="338" src="https://www.youtube.com/embed/cmRw1frJ8EE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    		</div>
    		<p class="img animate" data-animate="fadeInRight" data-duration="1.5s" data-delay="0s"><img src="../../asset/front/img/cf1.png" alt=""></p>
    	</div>
    </section>
    <section class="form-box">
    	<h2 class="animate" data-animate="fadeInDown" data-duration="0.6s" data-delay="0s"><img src="../../asset/front/img/f_logo.png" alt="더피플라이프 하나로"></h2>
    	<div class="inner animate" data-animate="fadeInUp" data-duration="0.8s" data-delay="0s">    		
    		<table cellspacing="0">
    			<tr>
    				<td class="tit">이름</td>
    				<td><input type="text" name="name" placeholder="이름을 입력해주세요."></td>
    				<td class="tit tel">연락처</td>
    				<td>
    					<select name="phone1" style="width:30%">
    															<option value="010"> 010 </option> 
    															<option value="011"> 011 </option> 
    															<option value="016"> 016 </option>
    															<option value="017"> 017 </option> 
    															<option value="018"> 018 </option>
    															<option value="019"> 019 </option>
    															<option value="02"> 02 </option> 
    															<option value="031"> 031</option> 
    															<option value="032"> 032 </option>
    															<option value="033"> 033 </option> 
    															<option value="041"> 041 </option>
    															<option value="042"> 042 </option> 
    															<option value="043"> 043 </option>
    															<option value="051"> 051 </option> 
    															<option value="052"> 052 </option> 
    															<option value="053"> 053 </option>
    															<option value="054"> 054 </option> 
    															<option value="055"> 055 </option>
    															<option value="061"> 061 </option> 
    															<option value="062"> 062 </option>
    															<option value="063"> 063 </option>
    															<option  value="064"> 064 </option>
    															<option value="070">070 </option>
    															<option value="050">050 </option>
    							</select>
    							<span style="width:3%; display: inline-block; text-align: center;">-</span>
    							<input type="text" name="phone2" maxlength="4" style="width:30%">
    							<span style="width:3%; display: inline-block; text-align: center;">-</span>
    							<input type="text" name="phone3" maxlength="4" style="width:30%">
    				</td>
    			</tr>
    			<tr>
    				<td class="tit">통화가능시간</td>
    				<td>
    					<select name="times1" id="times1">
							<option value="상시">상시</option>
							<option value="09:00~10:00">09:00~10:00</option>
							<option value="10:00~12:00">10:00~12:00</option>
							<option value="12:00~14:00">12:00~14:00</option>
							<option value="14:00~16:00">14:00~16:00</option>
							<option value="16:00~18:00">16:00~18:00</option>
							<option value="18:00~20:00">18:00~20:00</option>
            			</select>
    				</td>
    				<td colspan="2"></td>
    			</tr>
    		</table>
    		<ul>
    			<li>
    				<h3>개인정보 제공에 대한 동의</h3>
    				<div class="contents">
    					㈜하나애드아이엠씨'은 (이하 '회사'는) 고객님의 개인정보를 중요시하며, "정보통신망 이용촉진 및 정보보호"에 관한 법률을 준수하고 있습니다.<br><br>
    							회사는 개인정보취급방침을 통하여 고객님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 회사는 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br><br>
    							ο 개인정보 수집 이용<br>
    							- 수집제공 및 활용자 : ㈜하나애드아이엠씨, ㈜에프엠비스<br>
    							- 수집하는 개인정보의 항목 : 이름 , 연락처, 쿠키 , 접속 IP 정보<br>
    							- 개인정보의 수집, 이용목적 : 상품안내 및 마케팅 업무(전화,문자), 이벤트 및 신규서비스 안내, 민원처리 <br>
    				</div>
    				<div class="checks"> 
    							<input type="checkbox" name="" id="agree1" /><label for="agree1">동의합니다.</label>
    						</div>
    			</li>
    			<li>
    				<h3>개인정보 수집 및 이용안내 동의</h3>
    				<div class="contents">
    							ο 개인정보 수집 이용<br><br>
    							- 수집제공 및 활용자 : ㈜하나애드아이엠씨, ㈜에프엠비스<br>
    							- 수집하는 개인정보의 항목 : 이름 , 연락, 쿠키 , 접속 IP 정보<br>
    							- 개인정보의 수집, 이용목적 : 상품안내 및 마케팅 업무(전화,문자), 이벤트 및 신규서비스 안내, 민원처리<br><br>
    		
    							ο 개인정보 취급위탁<br><br>
    							- 수탁자 : ㈜더피플라이프<br>
    							- 위탁내용 : 고객상담 신청 접수 및 정보전달, 가입안내<br><br>
    		
    							ο 개인정보 이용 및 보유기간 개인정보를 수집 동의일로부터 3년간 보유 및 활용하게 되고,<br>
    							위 보유기간의 경과 즉시 기록을 재생할 수 없는 기술적 방법을 사용하여 동 개인정보를 파기합니다.<br>
    							단, 다음의 정보에 대해서는 아래의 이유로 명시한 기간 동안 보존합니다.<br><br>
    		
    							(관련법령에 의한 정보보유 사유)<br><br>
    							- 계약 또는 청약철회 등에 관한 기록 : 5년<br>
    							- 대금결제 및 재화 등의 공급에 관한 기록 : 5년<br>
    							- 소비자의 불만 또는 분쟁처리에 관한 기록 : 3년 <br><br> 	
    		
    							ο 개인정보 파기방법<br><br>
    							- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제<br>
    							- 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기<br>
    							- 회사는 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다. - 이용자들이 사전에 동의한 경우<br>
    							- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우<br><br>
    		
    							귀하가 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다.<br>
    							또한 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체 없이 통지하여 정정이 이루어지도록 하겠습니다.<br>
    							회사는 이용자의 요청에 의해 해지 또는 삭제된 개인정보는 “개인정보의 이용 및 보유기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
    				</div>
    				<div class="checks"> 
    							<input type="checkbox" name="" id="agree2" /><label for="agree2">동의합니다.</label>
    						</div>
    			</li>    		
    		</ul>
    	</div>
    	<button class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0s"><em>무료상담</em> 신청하기 <span>></span></button>
    </section>
    <!-- footer -->
    <footer>
    	<p class="num"><img src="../../asset/front/img/tel.png" alt="신규상담&가입문의: 1668-1741 고객센터: 02-6207-6100"></p>
    	<div class="footerBox">
    		<ul>
    			<li><a href="#">상품 이용약관</a></li>
    			<li><a href="#">개인정보처리방침</a></li>
    			<li><a href="#">주요정보 공시사항</a></li>
    		</ul>
    		<p>서울시 마포구 신촌로 12길 4 더피플빌딩 ㈜더피플라이프<br>
			대표이사 : 차용섭  |  사업자등록번호 : 105-86-83519  |  통신판매업신고번호 : 제 2005-03812호  |  선불식할부거래업등록 : 서울-2010-제46호</p>
			<p class="color"><em>운영대행사</em>서울시 영등포구 국회대로 72길 4, 7층 ㈜하나애드IMC  대표이사 : 김진백 사업자 등록번호 : 117-81-48164</p>
    	</div>
    </footer>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: false, 
    once: false 
});    	
</script>
</body>
</html>		



