<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../asset/mobile/css/main.css" rel="stylesheet" type="text/css">
    <link href="../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
    <!-- header -->
    <header>
            <span class="bg"></span>
            <div class="innerHeader">
                <h1 class="logo"><a href="/"><img src="../../asset/mobile/img/logo.png" alt="더피플라이프하나로"></a></h1>
                <a href="#" class="gnbMoOpen"></a>       
            </div>
            <nav class="gnbMo">
                <div class="top">
                    <a href="/" class="goHome"><img src="../../asset/mobile/img/gnbLogo.png" alt="더피플라이프하나로"></a>
                    <a href="#" class="gnbMoClose"><img src="../../asset/mobile/img/gnb2.png" alt="메뉴닫기"></a>
                </div>
                <ul>
					<li><a href="#">더피플라이프</a>
        				<ul class="inner op">
        					<li><a href="#">WHY 더피플라이프</a></li>
        				</ul>
        			</li>
        			<li><a href="#">상품 안내</a>
        				<ul class="inner">
        					<li><a href="#">하나로 멤버십상조</a></li>
        					<li><a href="#">하나로 결합상조</a></li>
        				</ul>
        			</li>
        			<li><a href="#">라이프케어</a>
        				<ul class="inner">
        					<li><a href="#">상조 서비스</a></li>
        					<li><a href="#">크루즈 서비스</a></li>
        					<li><a href="#">웨딩 서비스</a></li>
        					<li><a href="#">축일 서비스</a></li>
        				</ul>
        			</li>
        			<li><a href="#">회원전용혜택</a>
        				<ul class="inner">
        					<li><a href="#">멤버십서비스</a></li>
        					<li><a href="#">회원전용 쇼핑몰</a></li>
        				</ul>
        			</li>
        			<li><a href="#">제휴카드</a>
        				<ul class="inner">
        					<li><a href="#">더피플라이프X하나카드</a></li>
        					<li><a href="#">더피플라이프X롯데카드</a></li>
        				</ul>
        			</li>
        			<li><a href="#">고객센터</a>
        				<ul class="inner">
        					<li><a href="#">상담신청</a></li>
        					<li><a href="#">공지사항</a></li>
        					<li><a href="#">FAQ</a></li>
        				</ul>
        			</li>
                </ul>
            </nav>
        </header>
	<!-- mainVisual -->
	<section class="mainVisual">
		<h2><img src="../../asset/mobile/img/mainTitle.png" alt="당신의 더 감동적인 라이프를 위한 더피플라이프 하나로"></h2>
    	<ul class="iconBox">
    		<li><img src="../../asset/mobile/img/mainVisual6.png" alt=""></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.6s" data-delay="0s"><a href="#">
    			<img src="../../asset/mobile/img/mainVisual1.png" alt="">
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.6s" data-delay="0s"><a href="#">
    			<img src="../../asset/mobile/img/mainVisual2.png" alt="">
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.7s" data-delay="0s"><a href="#">
    			<img src="../../asset/mobile/img/mainVisual3.png" alt="">
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.8s" data-delay="0s"><a href="#">
    			<img src="../../asset/mobile/img/mainVisual4.png" alt="">
    		</a></li>
    		<li class="animate" data-animate="fadeInUp" data-duration="0.8s" data-delay="0s"><a href="#">
    			<img src="../../asset/mobile/img/mainVisual5.png" alt="">
    		</a></li>
    	</ul>
    	<a href="#">상담신청 <span>></span></a>
	</section>
	<section class="card">
    	<h2><img src="../../asset/mobile/img/cardTitle.png" alt="당신의 더 든든한 라이프를 위한 더피플라이프"></h2>
    	<ul class="cardBox">
    		<li class="animate" data-animate="fadeInLeft" data-duration="0.7s" data-delay="0s">
    			<img src="../../asset/mobile/img/card1.png" alt="">
    		</li>
    		<li class="animate" data-animate="fadeInLeft" data-duration="0.9s" data-delay="0s">
    			<img src="../../asset/mobile/img/card1.png" alt="">
    		</li>
    		<li class="animate" data-animate="fadeInLeft" data-duration="1.1s" data-delay="0s">
    			<img src="../../asset/mobile/img/card1.png" alt="">
    		</li>
    	</ul>
    </section>
    <section class="greenBox"><img src="../../asset/mobile/img/boxBg.png" alt="" width="100%"></section>
    <section class="cf">
    	<h2>더피플라이프 <span>CF</span></h2>
    	<div class="video-container animate" data-animate="fadeIn" data-duration="1.5s" data-delay="0s">
    		<iframe width="500" height="400" src="https://www.youtube.com/embed/cmRw1frJ8EE" frameborder="0"></iframe>
		</div>
    </section>
	<!--section class="form-box">
		<h2><img src="../../asset/mobile/img/f_logo.png" alt="무료상담 신청하기" width="100%"></h2>
		<div class="inner animate" data-animate="height" data-duration="0.5s" data-delay="0s">
			<input type="text" name="name" placeholder="이름을 입력해주세요.">
			<input type="text" name="tel" placeholder="연락처 ('-'제외)">
			<select name="times1" id="times1">
							<option value="통화가능시간">통화가능시간</option>
							<option value="상시">상시</option>
							<option value="09:00~10:00">09:00~10:00</option>
							<option value="10:00~12:00">10:00~12:00</option>
							<option value="12:00~14:00">12:00~14:00</option>
							<option value="14:00~16:00">14:00~16:00</option>
							<option value="16:00~18:00">16:00~18:00</option>
							<option value="18:00~20:00">18:00~20:00</option>
            </select>
            <div class="checks"> 
    			<input type="checkbox" id="checkall" /><label for="checkall" style="font-size: 21px; line-height: 1.3">전체동의</label>
    			<table cellspacing="0">
    				<tr>
    					<td><input type="checkbox" class="chk" id="agree1" /><label for="agree1">개인정보 제공에 관한 동의</label></td>
    					<td><a href="#">약관보기</a></td>
    				</tr>
    				<tr>
    					<td><input type="checkbox" class="chk" id="agree2" /><label for="agree2">개인정보 수집 및 이용안내 동의</label></td>
    					<td><a href="#">약관보기</a></td>
    				</tr>
    			</table>    			
    		</div>
    		<a href="#">신청하기 <span>></span></a>
		</div>
	</section-->
	<!-- footer -->
    <footer>
    	<p class="num"><img src="../../asset/mobile/img/tel.png" alt="신규상담&가입문의: 1668-1741 고객센터: 02-6207-6100" width="100%"></p>
    	<div class="footerBox">
    		<ul>
    			<li><a href="#">상품 이용약관</a></li>
    			<li><a href="#">개인정보처리방침</a></li>
    			<li><a href="#">주요정보 공시사항</a></li>
    		</ul>
    		<h4>신규&가입문의 <span>1668-1741</span> 고객센터 (배송,정보변경 문의 등) <span>02-6207-6100</span></h4>
    		<p>서울시 마포구 신촌로 12길 4 더피플빌딩 ㈜더피플라이프 대표이사 : 차용섭<br>
			  사업자등록번호 : 105-86-83519 통신판매업신고번호 : 제 2005-03812호<br> 
			  선불식할부거래업등록 : 서울-2010-제46호</p>
			<p class="color"><em>대행</em>서울시 영등포구 국회대로 72길 4, 7층 ㈜하나애드IMC<br>
   			대표이사 : 김진백 사업자 등록번호 : 117-81-48164</p>
    	</div>
    </footer>
</div><!--//wrap-->
<script>
//스크롤애니
$('.animate').scrolla({
    mobile: true, 
    once: false 
});    	
</script>
</body>
</html>		



