<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location pro mem">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>상품안내</li>
			<li>하나로 결합상조</li>
			<li>하나로 멤버십 398</li>
		</ul>
	</section>  	
	<section class="product">
		<div class="inner">
			<div class="top">
				<h2 class="topLogo" style="margin-top: 12px;"><img src="../../../asset/mobile/img/product/398_logo.png" alt="더피플라이프 하나로 멤버십 398"></h2>
				<p class="topImg"><img src="../../../asset/mobile/img/product/p_img_05.png" alt=""></p>
					<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="th">상품금액</td>
								<td class="th" style="letter-spacing: 0px">3,980,000원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top; text-align: left;">월 납입금액</td>
								<td style="text-align: right; letter-spacing: 0px">1~200회 : 19,900원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top; text-align: left; border-top: 1px solid #ddd;">결제 및<br>납입 안내</td>
								<td style="text-align: right; line-height: 1.4;letter-spacing: 0px; border-top: 1px solid #ddd;">
									1~36회 : 월 19,900원<br>[일시납 : 716,400원]<br>
									<span style="font-size: 12px; color: #9d1f04; margin: 3px 0 10px; display: block;">※ 하나 제휴카드 무이자 36개월 할부</span>
									37~만기 : 매월 자동이체<br>
									<span style="font-size: 12px;">(카드/CMS 모두 가능)</span>
								</td>
							</tr>
							<tr>
								<td colspan="2" class="green">
									<em>※ 라이프케어 서비스를 선택하여 이용가능합니다.</em><br>(상조서비스, 크루즈여행, 웨딩서비스, 축일서비스 中 택1)
								</td>
							</tr>
						</table>
			</div>
		</div>
		<img src="../../../asset/mobile/img/product/p_img_06.png" alt="" width="90%;" style="margin: auto; display: block;">
		<div class="inner">
			<h2 class="mem"><em>05</em>‘하나로 멤버십 398’ 고품격 결합 제품</h2>
			<p>결합상품 中 택1</p>
			<div class="box">
					<ul class="pd_list" style="margin-top: 25px;">
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_01.png" alt="">
						<p class="name">콕스타 비엔나<br>블루 매직핸즈 8P<span>KSC-VBM48WGP80</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '1');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_02.png" alt="">
						<p class="name">콕스타 비엔나<br>블루 냄비 3종 <span>KSC-VBS6P04</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '2');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_03.png" alt="">
						<p class="name">WMF<br>인덕션레인지 1구<span>WF1552</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '3');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_04.png" alt="">
						<p class="name">콕스타 글라트<br>할로겐 광파 <br>에어 오븐<span>KSEHO-1000</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '4');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_05.png" alt="">
						<p class="name">콕스타<br>베스티나 <br>히팅 블렌더<span>KSEBD-3000H</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '5');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_06.png" alt="">
						<p class="name">콕스타<br>스타크 컨벡션 <br>에어오븐<span>KSEAO-1000</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '6');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_07.png" alt="">
						<p class="name">가이타이너 프리미엄<br>리히트 에어프라이어 (5.5L)<span>GTKAF-1000</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '7');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_08.png" alt="">
						<p class="name">테팔<br>명품 에코센서 <br>압력밥솥<span>명품 에코센서</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '8');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_09.png" alt="">
						<p class="name">기펠 <br>제네시스<br>무선 물걸레 청소기<span>Genesis</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '9');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_10.png" alt="">
						<p class="name">테팔<br>엑스트라그릴<span>CB6605KR</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '10');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/398/pd_398_11.png" alt="">
						<p class="name">제스파 힐링 터치 <br>센스 마사지기<span>ZP3609</span></p>
						<a href="javascript:;"  onclick="show_detail('398', '11');">상세보기</a>				
					</li>
				</ul>
			</div>		
		</div>
		<img src="../../../asset/mobile/img/product/p_img_07.png" alt="" width="100%;">	
		<div class="inner">
					<div class="text" style="border-top: 1px solid #493936; padding-top: 20px; margin-top: 20px;">
					<ul>
						<li>본 상품은 ㈜더피플라이프 상조서비스와 멤버십 서비스가 결합되어 있는 결합상품입니다. </li>
						<li class="red">만기 후 1년 간 상조 포함 라이프케어 서비스를 이용하지 않은 경우 
						<em>[상조 가입금+멤버십 서비스  대금] 전액(100%)을 환급</em>해 드립니다.</li>
						<li class="red">만기 전 라이프케어서비스(상조/크루즈/웨딩/축일서비스)를 이용
						하시려면, <em>총 납입금에서 고객님께서 납부한 금액을 제외한 
							[상조 가입금+멤버십 서비스 대금]을 일시납</em>하여야 합니다.</li>
					</ul>
					<ul>
						<li class="tit">[납입금 상세내역]</li>
						<li>1~36회차 까지 멤버십 서비스 대금 (총 712,800원)이 포함되어 있습니다.</li>
						<li>1~36회차 :19,900원 (상조부금 100원, 멤버십 서비스 대금 19,800원)</li>
						<li>36~200회차 : 19,900원 (전액 상조부금)</li>
						<li>중도 해지 시 해약환급률에 의거하여 해약환급금이 지급됩니다.</li>
					</ul>
				</div>
			</div>
	</section>		
</div><!--//wrap-->
</body>
</html>		



