<!DOCTYPE html>
 <html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=1.0">
    <title>더피플라이프 하나로</title>
    <!--css-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,500,700&display=swap&subset=korean" rel="stylesheet">
    <link href="../../../asset/mobile/css/sub.css" rel="stylesheet" type="text/css">
    <link href="../../../asset/mobile/css/animation.css" rel="stylesheet" type="text/css">
    <!--script-->
    <script src="../../../asset/mobile/js/jquery-3.3.1.min.js"></script>
    <script src="../../../asset/mobile/js/scrolla.jquery.min.js"></script>
    <script src="../../../asset/mobile/js/script_main.js"></script>    	
</head>
<body>
<div class="wrap">
	<section class="location pro">
		<ul>
			<li><img src="../../../asset/front/img/why/page.png" alt=""></li>
			<li>상품안내</li>
			<li>하나로 결합상조</li>
			<li>하나로 249 더블</li>
		</ul>
	</section>  
	<ul class="topList pro d">
		<li><a href="#">하나로 199 더블</a></li>
		<li><a href="#" class="on">하나로 249 더블</a></li>
		<li><a href="#">하나로 299 더블</a></li>
	</ul>
	
	<section class="product">
		<div class="inner">
			<div class="top">
				<h2 class="topLogo"><img src="../../../asset/mobile/img/product/249d.png" alt="더피플라이프 하나로 199 더블"></h2>
				<p class="topImg"><img src="../../../asset/mobile/img/product/p_img_03.png" alt=""></p>
				<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="th">상품금액</td>
								<td class="th" style="letter-spacing: 0px">11,376,000원</td>
							</tr>
							<tr>
								<td style="color: #808080; vertical-align: top;">월 납입금액</td>
								<td style="text-align: right; line-height: 1.8;letter-spacing: 0px">1~180회 : 49,800원<br>181~240회 : 40,200원</td>
							</tr>
							<tr>
								<td colspan="2" class="green">
									<em>※ 라이프케어 서비스를 선택하여 이용가능합니다.</em><br>(상조서비스, 크루즈여행, 웨딩서비스, 축일서비스 中 <span style="color:#9d1f04;">택2</span>)
								</td>
							</tr>
				</table>
			</div>
		</div>
		<img src="../../../asset/mobile/img/product/p_img_04.png" alt="" width="100%;">
		<div class="inner">
			<h2><em>02</em>‘하나로 249 더블’ 고품격 결합 제품</h2>
			<p>결합상품 中 택1</p>
			<div class="box">
					<p class="label">LG 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_01.png" alt="">
						<p class="name">LG<br>UHD 65” TV<span>65UM781C</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '1');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_02.png" alt="">
						<p class="name">LG 앙문형 냉장고<br>(821L)<span>S831S32</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '2');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_03.png" alt="">
						<p class="name">LG 김치냉장고 <br>(402L)<span>K418S11</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '3');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_04.png" alt="">
						<p class="name">LG<br>전기건조기 (14kg)<span>RH14WH</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '4');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_05.png" alt="">
						<p class="name">LG<br>트윈워시(21kg)<span>F17WDAUM</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '5');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_06.png" alt="">
						<p class="name">LG<br>트롬 세탁기(19kg)<span>F19VDT</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '6');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_07.png" alt="">
						<p class="name">LG<br>전기레인지<br>(하이브리드)<span>BEY3GT1</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '7');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_08.png" alt="">
						<p class="name">LG<br>스타일러 <br>(3+1벌,브라운)<span>S3RF</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '8');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_09.png" alt="">
						<p class="name">LG<br>휘센 에어컨  <br>(17형)<span>FQ17V9WWA1</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '9');">상세보기</a>				
					</li>
				</ul>
					<p class="label">삼성 가전</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_10.png" alt="">
						<p class="name">삼성<br>UHD 65” TV<span>UN65RU7470FXKR</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '10');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_11.png" alt="">
						<p class="name">삼성 푸드쇼케이스  <br>냉장고(814L)<span>RH81R6010S8</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '11');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_12.png" alt="">
						<p class="name">삼성 비스포크  <br>냉장고(313L)<span>RQ33R741201</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '12');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_13.png" alt="">
						<p class="name">삼성 그랑데 <br>건조기(16kg)<span>DV16R8540KP</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '13');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_14.png" alt="">
						<p class="name">삼성<br>드럼세탁기(23kg)<span>WF23R9600KP</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '14');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_15.png" alt="">
						<p class="name" style="font-size: 11px; padding-bottom: 1px">삼성 제트청소기(무선)<br>+공기청정기(24평형)<span>VS20R9044SB+AX80R7580WDD</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '15');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_16.png" alt="">
						<p class="name">삼성<br>에어드레서(3+3벌)<span>DF60R8700CG</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '16');">상세보기</a>				
					</li>
				</ul>
				<p class="label">한샘 가구</p>
					<ul class="pd_list">
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_17.png" alt="">
						<p class="name">한샘 IMG <br>리클라이너(고급)<span>연그레이, 브라운, 레드</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '17');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_18.png" alt="">
						<p class="name">한샘<br>3연동 중문<span>컬러다양</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '18');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_19.png" alt="">
						<p class="name">한샘<br>고급 Q/K 매트리스<span>사이즈 선택</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '19');">상세보기</a>				
					</li>
					<li>
						<img src="../../../asset/front/img/product/249d/pd_249d_20.png" alt="">
						<p class="name">한샘 고급 4인용 <br>소파(이노레더)<span>연그레이, 진그레이</span></p>
						<a href="javascript:;"  onclick="show_detail('249d', '20');">상세보기</a>				
					</li>
				</ul>
				<p class="label">브랜드 가전</p>
					<ul class="pd_list">
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_21.png" alt="">
							<p class="name">웰모아 유로보<br>블랙라벨 안마의자<span>HCW-7000</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '21');">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_22.png" alt="">
							<p class="name">필립스<br>에스프레소 머신<span>SM7685/03</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '22');">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_23.png" alt="">
							<p class="name">헬스리아<br>반신욕기 (고급)<span>HR-H03(안)</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '23');">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_24.png" alt="">
							<p class="name">스쿠터나라<br>전동 킥보드<span>듀얼랩터</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '24');">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_25.png" alt="">
							<p class="name">스쿠터나라<br>전동 스쿠터<span>에코라이더 프로</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '25');">상세보기</a>				
						</li>
						<li>
							<img src="../../../asset/front/img/product/249d/pd_249d_26.png" alt="">
							<p class="name">하우홈 싱크리더<br>음식물 처리기<span>SI-808</span></p>
							<a href="javascript:;"  onclick="show_detail('249d', '26');">상세보기</a>				
						</li>
					</ul>			</div>			
			<div class="text">
				<ul>
					<li>본 상품은 ㈜더피플라이프 상조서비스와 가전 및 가구제품이 결합되어 
					있는 결합상품으로 상조계약 (선불식 할부계약) 과 가전제품에 대한 
					렌탈계약을 별도 체결합니다. </li>
					<li class="red">만기 후 1년 간 상조 포함 라이프케어 서비스를 이용하지 않은 경우 
					<em>[상조 가입금+멤버십 서비스  대금] 전액(100%)을 환급</em>해 드립니다.</li>
					<li class="red">만기 전 라이프케어서비스(상조/크루즈/웨딩/축일서비스)를 이용
					하시려면, <em>총 납입금에서 고객님께서 납부한 금액을 제외한 
						[상조 가입금+멤버십 서비스 대금]을 일시납</em>하여야 합니다.</li>
				</ul>
				<ul>
					<li class="tit">[납입금 상세내역]</li>
					<li>1~60회차 까지 결합상품 렌탈대금 (총 2,976,000원)이 포함되어 있습니다.</li>
					<li>1~60회차 : 49,800원 (상조부금 200원, 결합상품 렌탈대금 49,600원)</li>
					<li>61~180회차 : 49,800원 (전액 상조부금)</li>
					<li>181~240회차 : 40,200원 (전액 상조부금)</li>
					<li class="red"> 결합상품(전자제품) 수령 후 61회 이내 해약 시 렌탈계약에 따른 위약금이 발생합니다. (제품회수 및 잔여 렌탈료의 30%)</li>
					<li>중도 해지 시 해약환급률에 의거하여 해약환급금이 지급됩니다. (결합상품 할부금 제외)</li>
				</ul>
			</div>
		</div>
	</section>		
</div><!--//wrap-->
</body>
</html>		



